<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>ckeditor5 classic</title>
    <style>
        .ck-content {
            padding: 0 2.5rem !important;
        }
    </style>
</head>
<body>
<div style="text-align: center;font-weight: bold">ckeditor5 classic 写作体验非常赞</div>
<div style="width:870px; margin: 30px auto;">
    <textarea name="content" id="editor"></textarea>
</div>
<script src="${ctx!}/res/ckeditor5/classic/ckeditor.js"></script>
<script src="${ctx!}/res/ckeditor5/classic/translations/zh-cn.js"></script>
<script>
    /* 所需要的样式 在 引入ckeditor.js 后自动生成*/
   ClassicEditor
    .create(document.querySelector('#editor'),{
        language:"zh-cn",
        height:800,
        ckfinder: {
            uploadUrl : '${ctx!}/imgUpload?command=QuickUpload&type=Files&responseType=json'
            //后端处理上传逻辑返回json数据,包括uploaded(选项true/false)和url两个字段
        }
    })
    .catch(function (error) {
        console.error(error);
    });
</script>
</body>
</html>