<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="${ctx!}/res/image/favicon.ico"/>
    <title>${(cmsArticle.title)!}</title>
    <meta name="keywords" content="${(sysNews.tags)!}">
    <link rel="stylesheet" href="${ctx!}/res/css/custom.css">
    <link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
    <link rel="stylesheet" href="${ctx!}/res/ckeditor/contents.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_723798_1gpm6xlyydyg.css">
    <link rel="stylesheet" href="${ctx!}/res/ckeditor/plugins/copyformatting/styles/copyformatting.css">
    <link rel="stylesheet" href="${ctx!}/res/ckeditor/plugins/tableselection/styles/tableselection.css">
    <style>
        html,body{
            margin:0;
            padding:0;
            width:100%;
            height:100%;
        }
        #container{
            background-color: #fff;
            box-shadow: 0 0 15px 5px lightgray;
        }
    </style>
</head>
<body class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">
<div id="container"  style="width: 220mm; min-height: 100%; margin: 0px auto; background-color: #fff; padding: 10mm; ">
    <div id="printBtnWrapper" style="text-align: right" class="no-print">
        <button id="printBtn" class="pure-button pure-button-primary e-icon" ><i class="iconfont icon-font-print"></i>&nbsp;&nbsp;打印</button>
    </div>
    <script>
        /*if(top.location==self.location){
            var printWrapper = document.getElementById('printBtnWrapper');
            document.getElementById('container').removeChild(printWrapper);
        }*/
    </script>
    <div style="width: 210mm; min-height: 100%;   margin:0  auto; "  >
            <div id="printArea"   >
                <div class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders">
                 ${(cmsArticleHtml.content)!}
                </div>
            </div>
    </div>
</div>
<script src="${ctx!}/res/easyui1.5.4.5/jquery.min.js"></script>
<script src="${ctx!}/res/jqprint/jQuery.print.min.js"></script>
<script>
    $("#printBtn").on("click",function(){
        $("#printArea").print({
            globalStyles: true,  /*是否包含父文档的样式，默认为true*/
            mediaPrint: false,   /*是否包含media='print'的链接标签。会被globalStyles选项覆盖，默认为false*/
            stylesheet: null,    /*外部样式表的URL地址，默认为null*/
            noPrintSelector: ".no-print", /*不想打印的元素的jQuery选择器，默认为".no-print"*/
            iframe: true, /*是否使用一个iframe来替代打印表单的弹出窗口，true为在本页面进行打印，false就是说新开一个页面打印，默认为true*/
            append: null, /*将内容添加到打印内容的后面*/
            prepend: null, /*将内容添加到打印内容的前面，可以用来作为要打印内容*/
            manuallyCopyFormValues: true,
            deferred: $.Deferred(),
            timeout: 250,
            title: null,
            doctype: '<!doctype html>'
        });;
    });
</script>
</body>
</html>