<@compress single_line=true>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>md</title>
    <link rel="stylesheet" href="${ctx!}/res/pure/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="${ctx!}/res/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="${ctx!}/res/pure/grids-responsive-min.css">
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="${ctx!}/res/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="${ctx!}/res/css/custom.css">
    <link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
    <link rel="stylesheet" href="${ctx!}/res/md/simplemde/simplemde.min.css">
    <link rel="stylesheet" href="${ctx!}/res/md/simplemde/github.min.css">
    <script src="${ctx!}/res/js/base-loading.js" ></script>
    <style>
        .CodeMirror {
            height: 300px;
        }
    </style>
</head>
<body style="padding: 10px 10px 5px">
<form class="pure-form f">
    <fieldset>
        <input type="hidden" id="id" name="id" value="${(cmsArticle.id)!}">
        <input id="title" type="text" placeholder="标题" value="${(cmsArticle.title)!}">
        <input id="tags" type="text" placeholder="标签,多个之间逗号分隔" value="${(cmsArticle.tags)!}">
        <button  id="subBtn" type="button" class="pure-button pure-button-primary">提交</button>
    </fieldset>
</form>
<textarea id="editor" ></textarea>
<script type="text/javascript" src="${ctx!}/res/easyui1.5.4.5/jquery.min.js"></script>
<script src="${ctx!}/res/md/simplemde/simplemde.min.js"></script>
<script src="${ctx!}/res/md/simplemde/highlight.min.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script src="${ctx!}/res/js/util.js"></script>
<script src="${ctx!}/res/js/base64.min.js"></script>
<script>
    var simplemde = new SimpleMDE({
        autoDownloadFontAwesome:false,
        placeholder:'请输入文本',
        showIcons: ["strikethrough","clean-block","code", "table","horizontal-rule"],
        promptURLs: true,
        spellChecker:false,
        renderingConfig:{
            codeSyntaxHighlighting:true
        },
        element: $("#editor")[0],
        initialValue:'${(cmsArticleMd.content)!}'==''?'':Base64.decode('${(cmsArticleMd.content)!}')
    });

    $("#subBtn").click(function () {
        var title = $('#title').val();
        if(isEmpty(title)){
            layerTools.layerMsg('请输入标题!');
            return;
        }
        var tags = $('#tags').val();
        if(isEmpty(tags)){
            layerTools.layerMsg('请至少输入一个标签!');
            return;
        }
        var mdVal = simplemde.value();
        if(isEmpty(mdVal)){
            layerTools.layerMsg('请输入内容!');
            return;
        }

        var url;
        var data ={};
        var id = $('#id').val();
        if (isEmpty(id)){
            url = '${ctx!}/cmsArticle/addAction';
        }else{
            url = '${ctx!}/cmsArticle/updateAction';
            data.id = id;
        }
        data.title = title;
        data.type='m';
        data.tags =tags;
        data.content = mdVal;
        $.ajax({
            url: url,
            data:data,
            type: 'POST',
            dataType: 'text',
            success: function (data) {
                layerTools.layerMsg(data, function () {
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            },
            error: function (x, h, r) {
                layerTools.AlertErrorMsg();
            }
        })
    });
</script>
</body>
</html>
</@compress>