<!-- 生成时间： 2018-06-25 19:59:08 -->
<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        var url;

        /*有且只有一个主键*/
        var idVal = $('#id').val();

        if (isEmpty(idVal)) {
            url = '${ctx!}/cmsArticle/addAction';
        } else {
            url = '${ctx!}/cmsArticle/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function() {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.layerTools.layerMsg(data, function () {
                    /* parent.window.location.reload();*/
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <!--有且只有一个主键-->
        <input id="id" name="id"
               type="hidden" value="${(cmsArticle.id)!}">
        <tbody>
            <tr>
                <td>
                    title:
                </td>
                <td>
                    <input name="title" value="${(cmsArticle.title)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    tags:
                </td>
                <td>
                    <input name="tags" value="${(cmsArticle.tags)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    类型，m 代表markdown , h代表 html:
                </td>
                <td>
                    <input name="type" value="${(cmsArticle.type)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    content:
                </td>
                <td>
                    <input name="content" value="${(cmsArticle.content)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    user_id:
                </td>
                <td>
                    <input name="userId" value="${(cmsArticle.userId)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    创建或更新时间:
                </td>
                <td>
                    <input name="createTime" value="${(cmsArticle.createTime)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    last_edit_time:
                </td>
                <td>
                    <input name="lastEditTime" value="${(cmsArticle.lastEditTime)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-close'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
</@layout>
