<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" type="text/css" href="${ctx!}/res/easyui1.5.4.5/extension/texteditor/texteditor.css">
<script type="text/javascript" src="${ctx!}/res/easyui1.5.4.5/extension/texteditor/jquery.texteditor.js"></script>
<script>
    /*移除统一字体样式 大小等*/
    $("#fontCss").remove();
</script>
</head>
<body>
<h2>jquery easyui TextEditor</h2>
http://www.jeasyui.com/extension/texteditor.php
<br>
1. 修改源码 为 中文
<br>
2. html 复制粘体 很棒
<br>
<div  id="te" style="width:860px;min-height: 300px;font-size: 16px;">
</div>
<script>
    $('#te').texteditor({
        title:'texteditor',
        draggable:true,
        resizable:true,
        panelHeight: 'auto',
    });
</script>
</body>
</@layout>
</html>