<!-- 生成时间： 2018-06-24 20:51:04 -->
<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
</head>
<body>
<script type="text/javascript">

    /*新增 model*/
    function newModel() {
        popup.openIframe('新建', '${ctx!}/dataCity/newModel', '400px', '400px');
    }

    /*编辑 model*/
    function editModel() {
        var rows = $("#dg").treegrid("getSelections");
        if (rows.length==1) {
            var row = rows[0];
            popup.openIframe('编辑', '${ctx!}/dataCity/newModel?cid=' + row.cid, '400px', '400px');
        } else {
            popup.msg('请选择一行数据进行编辑');
        }
    }

    /*删除 model*/
    function deleteModel() {
        var rows = $("#dg").datagrid("getSelections");
        if (rows.length!=0) {
            var cidAry =[];
            rows.forEach(function (row) {
                cidAry.push(row.cid);
            });
            popup.openConfirm(3, '删除', '您确定要删除选中的'+rows.length+'条记录吗?', function () {
                $.post('${ctx!}/dataCity/deleteAction?cids='+cidAry.splice(',') , function (data) {
                    popup.msg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text").error(function(){ popup.errMsg(); });
            });

        } else {
            popup.msg('请至少选择一行进行删除');
        }
    }

    /*条件查询*/
    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_cname'] = $("#cname").textbox("getValue");
        queryParams['search_EQ_c.pid'] = $("#province").combobox("getValue");
        $('#dg').datagrid('load', queryParams);
    }
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/dataCity/query"
       data-options="onDblClickRow:editModel,onLoadSuccess:onLoadSuccess"
       toolbar="#tb" rownumbers="true" border="false"
       fit="true"    fitColumns="false"
       striped="true"
       pagination="true"
       ctrlSelect="true"
       pageSize="40" pageList="[20,40]">
    <thead>
    <tr>
            <th data-options="field:'cid',checkbox:true"></th>
            <th field="pname" width="200">归属省</th>
            <th field="cname" width="200">市名称</th>
    </tr>
    </thead>
</table>

<div id="tb">
    <a onclick="newModel()" href="#" class="easyui-linkbutton" iconCls="e-icon iconfont icon-font-add" plain="true">新增</a>
    <a onclick="editModel()" href="#" class="easyui-linkbutton" iconCls="e-icon iconfont icon-font-edit" plain="true">编辑</a>
    <a onclick="deleteModel()" href="#" class="easyui-linkbutton  " iconCls="e-icon iconfont icon-font-delete" plain="true">删除</a>
    <span id="enterSpan" class="searchInputArea">
          <input id="province" prompt="省份" name="province" class="easyui-combobox" data-options="valueField:'pid',textField:'pname',url:'${ctx!}/dataProvince/provinceData'">
          <input id="cname" prompt="城市名称" class="easyui-textbox" style="width:120px; ">
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-search',plain:true" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
<script src="${ctx!}/res/js/autoMerge.js"></script>
<script>
    function onLoadSuccess() {
        $(this).datagrid("autoMergeCells",['pname']);
    }
</script>
</@layout>

