<!-- 生成时间： 2018-09-06 11:26:11 -->
<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" href="${ctx!}/res/css/form.css">
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        $('#modelForm').form('submit', {
            url: '${ctx!}/dataRegion/addOrUpdateAction',
            onSubmit: function() {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.popup.msg(data, function () {
                    parent.$("#tg").treegrid("reload",$('#parentId').numberbox('getValue'));
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <tbody>
            <tr>
                <td>
                    地区代码:
                </td>
                <td>
                    <input id="id" name="id" value="${(dataRegion.id)!}" class="easyui-numberbox"
                           data-options="required:true,precision:0">
                </td>
                <td>
                    上级地区代码:
                </td>
                <td  >
                    <input id="parentId" name="parentId"  value="${(dataRegion.parentId)!}" class="easyui-numberbox"
                           data-options="required:true,precision:0" >
                </td>
            </tr>
            <tr>
                <td>
                    名字:
                </td>
                <td>
                    <input name="name" value="${(dataRegion.name)!}" class="easyui-textbox"  data-options="required:true">
                </td>
                <td>
                    英文名称:
                </td>
                <td>
                    <input name="pinyin" value="${(dataRegion.pinyin)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    短名:
                </td>
                <td>
                    <input name="shortName" value="${(dataRegion.shortName)!}" class="easyui-textbox"  data-options="required:true">
                </td>
                <td>
                    地区级别:
                </td>
                <td>
                    <input name="levelType"    class="easyui-combobox"
                           data-options="
                             data: [ {value:'0',text:'国'} ,{value:'1',text:'省'},{value:'2',text:'市'},{value:'3',text:'县/区'}],
                             editable: false,
                             required:true,
                             value:'${(dataRegion.levelType)!}'">
                </td>
            </tr>
            <tr>
                <td>
                    区号:
                </td>
                <td>
                    <input name="cityCode" value="${(dataRegion.cityCode)!}" class="easyui-textbox"  >
                </td>
                <td>
                    邮政编码:
                </td>
                <td>
                    <input name="zipCode" value="${(dataRegion.zipCode)!}" class="easyui-textbox"   >
                </td>
            </tr>
            <tr>
                <td>
                    纬度:
                </td>
                <td>
                    <input name="lat" value="${(dataRegion.lat)!}" class="easyui-textbox"   >
                </td>
                <td>
                    经度:
                </td>
                <td>
                    <input name="lng" value="${(dataRegion.lng)!}" class="easyui-textbox"  >
                </td>
            </tr>
            <tr>
                <td>
                    路径名称:
                </td>
                <td  >
                    <input name="mergerName" value="${(dataRegion.mergerName)!}" class="easyui-textbox"  data-options="required:true" >
                </td>
                <td>
                    是否禁用:
                </td>
                <td  >
                    <input name="disable" class="easyui-combobox"
                           data-options=" data: [ {value:'0',text:'否'} ,{value:'1',text:'是'}],
                            editable: false,  required:true,
                            value:'${(dataRegion.disable)!}'">
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
</@layout>
