<!-- 生成时间： 2018-06-24 20:51:04 -->
<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        var url;
        var oidVal = $('#oid').val();
        if (isEmpty(oidVal)) {
            url = '${ctx!}/dataCounty/addAction';
        } else {
            url = '${ctx!}/dataCounty/updateAction';
        }
        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function() {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.popup.msg(data, function () {
                    /* parent.window.location.reload();*/
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <input id="oid" name="oid"
               type="hidden" value="${(dataCounty.oid)!}">
        <tbody>
           <#if !(dataCounty.cid)??>
            <tr>
                <td>
                    省份:
                </td>
                <td>
                    <input id="pid" name="pid"
                           class="easyui-combobox"
                           data-options="valueField:'pid',textField:'pname',url:'${ctx!}/dataProvince/provinceData',onSelect:selectProvince">
                </td>
            </tr>
           </#if>
            <tr>
                <td>
                    市:
                </td>
                <td>
                    <input id="cid" name="cid" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>
            <tr>
                <td>
                    县/区名称:
                </td>
                <td>
                    <input name="oname" value="${(dataCounty.oname)!}" class="easyui-textbox"  data-options="required:true">
                </td>
            </tr>

        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script>
    /*选中省份后加载市数据*/
    function selectProvince(record) {
        console.log(JSON.stringify(record));
        $('#cid').combobox({
            url:'${ctx!}/dataCity/cityData?pid='+record.pid,
            valueField:'cid',
            textField:'cname',
            value:''
        });
    }

     /*编辑加载数据*/
    ;(function () {
        var city = '${(dataCounty.cid)!}';
        if($.trim(city)!=''){
            $('#cid').combobox({
                url:'${ctx!}/dataCity/cityData',
                valueField:'cid',
                textField:'cname',
                value:city
            });
        }
    })();
</script>
</@layout>
