<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
</head>
<body>
<script type="text/javascript">
    function newModel() {
        layerTools.layerIframe('fa-plus','新建', '${ctx!}/gentestBook/newModel', '500px', '500px');
    }
    function editModel() {
        var rows = $("#dg").treegrid("getSelections");
        if (rows.length==1) {
            layerTools.layerIframe('fa-pencil','编辑', '${ctx!}/gentestBook/newModel?id=' + rows[0].id, '500px', '500px');
        } else {
            layerTools.layerMsg('请选择一行数据进行编辑');
        }
    }
    function deleteModel() {
        var rows = $("#dg").datagrid("getSelections");
        if (rows.length!=0) {
            layerTools.confirm(3, '删除', '您确定要删除选中的'+rows.length+'条记录吗?', function () {
                var ids = [];
                rows.forEach(function(row){
                    ids.push(row.id);
                });
                $.post('${ctx!}/gentestBook/deleteAction?ids=' + ids.join(','), function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text").error(function(){ layerTools.AlertErrorMsg(); });
            });
        } else {
            layerTools.layerMsg('请至少选择一行进行删除');
        }
    }
    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_title'] = $("#title").textbox("getValue");
        $('#dg').datagrid('load', queryParams);
    }
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/gentestBook/query"
       data-options="onDblClickRow:editModel"
       toolbar="#tb" rownumbers="true" border="false"
       fit="true"
       fitColumns="true"
       striped="true"
       pagination="true" ctrlSelect="true"
       pageSize="40" pageList="[20,40]">
    <thead>
    <tr>
            <th data-options="field:'id',checkbox:true"></th>
            <th field="title" width="100">书名</th>
            <th field="info" width="200">简介</th>
            <th field="author" width="100">作者</th>
            <th field="create_time" width="100">create_time</th>
    </tr>
    </thead>
</table>

<div id="tb">
    <a onclick="newModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-plus-square-o" plain="true">新增</a>
    <a onclick="editModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-pencil-square-o" plain="true">编辑</a>
    <a onclick="deleteModel()" href="#" class="easyui-linkbutton  " iconCls="e-icon fa fa-trash-o" plain="true">删除</a>
    <span id="enterSpan" class="searchInputArea">
          <input id="title" prompt="书名" class="easyui-textbox" style="width:120px; ">
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-search',plain:true" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
</@layout>
