<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script>
    function saveAction() {
        var url;
        var pkVAry = [];
        var idVal = $("#id").val();
        pkVAry.push(idVal);
        var id2Val = $("#id2").val();
        pkVAry.push(id2Val);

        if ($.trim(pkVAry[0]) == "" || pkVAry[0] == undefined || pkVAry[0] == null) {
            url = '${ctx!}/busTwoPk/addAction';
        } else {
            url = '${ctx!}/busTwoPk/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.layerTools.layerMsg(data, function () {
                    parent.window.location.reload();
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <input id="id" name="id" type="hidden" value="${(busTwoPk.id)!}">
        <input id="id2" name="id2" type="hidden" value="${(busTwoPk.id2)!}">
        <tbody>
        <tr>
            <td>v：</td>
            <td>
                <input name="v" value="${(busTwoPk.v)!}" type="text" class="easyui-textbox"
                       data-options="required:true">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
</@layout>
