<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
</head>
<body>
<div class="easyui-layout" fit="true" border="none">
    <div class="head" data-options="region:'north'" style="height: 50px"
         border="false">
        <span class="head-text">C_CURD</span>
            <span class="head-menu">
                你好，${(session.system_user.name)!} &nbsp;
                &nbsp;
                (${(session.system_user_roles)!} )
                &nbsp;
                &nbsp;
                <a class="pure-button pure-button-primary" href="${ctx!}/logout">退出</a>
			</span>
    </div>
    <div data-options="region:'west',split:false" title="权限菜单" style="width:200px;">
        <div class="input-control">
            <input type="text" id="filterInput" placeholder="输入关键字、Enter过滤">
        </div>
        <ul id="permissionTree">
        </ul>
    </div>
    <div data-options="region:'center'"  border="false"  >
        <div id="tabsControl"></div>
        <div id="tabsMenu" class="easyui-menu">
            <div data-options="name:1">关闭</div>
            <div data-options="name:2">关闭其他</div>
            <div data-options="name:3">关闭所有</div>
        </div>
    </div>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/js/tab-tools.js"></script>
<script>
    ;(function () {

        var MainPage = {
            init: function () {
                var that = this;
                that.initData();
                that.bind();

            },
            initData: function () {
                var easyTree = new EasyTree();
                $.ajax({
                    url: "${ctx!}/main/permissionTree",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        //console.log(JSON.stringify(data));

                        var treeData = easyTree.treeDataBuild(data, "id", "pid", "text,iconCls,url");

                        //console.log("----easyui tree data----")
                        //console.log(JSON.stringify(treeData));

                        $('#permissionTree').tree({
                            data: treeData,
                            onSelect: function (node) {
                                // 只能打开 叶子node
                                if ($("#tree").tree("isLeaf", node.target)) {
                                    //alert("open:" + node.url);
                                    TabTools.control(node.url, "", node.text);
                                }
                            }
                        });
                    },
                    error: function (x, m) {
                        console.log("权限数据请求错误: " + m);
                    }
                });
            },
            bind: function () {
                // 权限树过滤
                $("#filterInput").on("keydown", function () {
                    if (event.keyCode == "13") {
                        var inputVal = $(this).val();
                        console.log(inputVal);
                        $('#permissionTree').tree({
                            filter: function (q, node) {
                                return node.text.indexOf(inputVal) >= 0;
                            }
                        });
                        if (inputVal == null || inputVal == undefined || $.trim(inputVal) == "") {
                            $('#tt').tree('doFilter', '');
                        } else {
                            $('#permissionTree').tree('doFilter', inputVal);
                        }
                    }
                })
            }
        }

        MainPage.init();
    })();
</script>
</@layout>