<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
<style>
    .pure-button {
        padding: 5px 8px;
        margin: 5px 2px;
    }

    a.pure-button:hover {
        color: wheat;
        text-decoration: none;
    }

    .button-blue,
    .button-success,
    .button-black {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-blue {
        background: #00bbee; /* this is a maroon */
    }

    .button-success {
        background: rgb(28, 184, 65); /* this is a green */
    }

    .button-black {
        background: #333; /* this is a light blue */
    }
</style>
</head>
<body>
<script type="text/javascript">

    // 新增 model
    function newModel() {
        layerTools.layerIframe('fa-plus', '新建', '${ctx!}/sysFile/newModel', '550px', '350px')
    }

    // 编辑 model
    function editModel() {
        var row = $("#dg").treegrid("getSelected");
        if (row != null) {
            layerTools.layerIframe('fa-pencil', '编辑', '${ctx!}/sysFile/newModel?id=' + row.id, '550px', '320px')
        } else {
            layerTools.layerMsg('请选择一行数据进行编辑');
        }
    }

    // 删除 model
    function deleteModel() {
        var row = $("#dg").datagrid("getSelected");
        if (row != null) {
            layerTools.confirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                $.post('${ctx!}/sysFile/deleteAction?id=' + row.id, function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text").error(function(){ layerTools.AlertErrorMsg(); });
            });

        } else {
            layerTools.layerMsg('请选择一行进行删除');
        }
    }

    //条件查询
    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_sf.original_filename'] = $("#originalFilename").textbox("getValue");
        queryParams['search_LIKE_sf.remark'] = $("#remark").textbox("getValue");
        queryParams['search_LIKE_su.name'] = $("#name").textbox("getValue");

        queryParams['search_GTE_sf.create_time'] = $("#timeStart").datetimebox("getValue");
        queryParams['search_LTE_sf.create_time'] = $("#timeEnd").datetimebox("getValue");
        if ($("#fileType").combobox("getValues").length != 0) {
            queryParams['search_IN_sf.type'] = "('" + $("#fileType").combobox("getValues").join("','") + "')";
        }

        $('#dg').datagrid('load', queryParams);
    }
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/sysFile/query"
       toolbar="#tb" rownumbers="false" border="false"
       fit="true" pagination="true" singleSelect="true"
       fitColumns="true"
       striped="true"
       pageSize="20" pageList="[20,40]">
    <thead>
    <tr>
        <th data-options="field:'ck',checkbox:true"></th>
        <th field="id" width="100">主键</th>

        <th field="img_view" width="200" formatter="fView" align="center">查看</th>
        <th field="name" width="100" formatter="redFormat">上传者</th>
        <th field="path" width="300" >文件路径</th>

        <th field="original_filename" width="200">文件原名</th>
        <th field="type" width="100" formatter="redFormat">文件类型</th>
        <th field="remark" width="300">文件备注</th>
        <th field="create_time" width="200">上传时间</th>
    </tr>
    </thead>
</table>

<div id="tb">
    <a onclick="newModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-plus-square-o" plain="true">新增</a>
    <a onclick="editModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-pencil-square-o" plain="true">编辑</a>
    <a onclick="deleteModel()" href="#" class="easyui-linkbutton  " iconCls="e-icon fa fa-trash-o" plain="true">删除</a>
    <span id="enterSpan" class="searchInputArea">
          <input id="fileType" prompt="文件类型" class="easyui-combobox"
                 data-options="valueField:'value', multiple:true,textField:'label',url:'${ctx!}/sysFile/fileTypeData'">
          <input id="name" prompt="上传者" class="easyui-textbox" style="width:120px; ">
          <input id="originalFilename" prompt="文件原名" class="easyui-textbox" style="width:120px; ">
          <input id="remark" prompt="备注" class="easyui-textbox" style="width:120px; ">
          &nbsp;&nbsp;&nbsp;&nbsp;

          <input id="timeStart" prompt="时间起" class="easyui-datetimebox" style="width:150px; ">
          ~
          <input id="timeEnd" prompt="时间止" class="easyui-datetimebox" style="width:150px; ">
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-search',plain:true" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script>
    var ctx = '${ctx!}/';

    // 图片格式化
    function fView(val, row) {
        if ('png,jpg,jpeg,gif,bmp'.indexOf(row.type) >= 0) {
            return '<a target="_blank" href="' + ctx + row.path + '"><img width="40px" src="' + ctx + row.path + '" alt="' + row.original_filename + '"/></a>'
        } else if ('pdf,html,txt,xml'.indexOf(row.type) >= 0) {
            return '<a class="pure-button button-success" target="_blank" href="' + ctx + row.path + '"><i class="fa fa-eye"></i></a>';
        } else if ('swf,flv,mp3,wav,wma,wmv,mid,avi,mpg,asf,rm,rmvb,mp4'.indexOf(row.type) >= 0) {
            return '<a class="pure-button button-blue" target="_blank" href="' + ctx + row.path + '"><i class="fa fa-play-circle"></i></a>';
        } else {
            return '<a class="pure-button button-black" target="_blank" href="' + ctx + row.path + '"><i class="fa fa-download"></i></a>'
        }
    }

    function redFormat(val, row) {
        return '<b><span style="color:red">' + val + '</span></b>';
    }

    function pathFormat(val, row) {
        //var ctx  = '${ctx!}/';
        var curHref = window.document.location.href;
        var curPathname = window.document.location.pathname;
        var firstPos = curHref.indexOf(curPathname);
        curHref = curHref.substring(0, firstPos);
        return curHref + '/' + val;
    }
</script>
</@layout>
