<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<style>
    #error {
        font-size: 12px;
        color: red;
        text-align: center;
        padding: 10px;
    }
</style>
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if (isEmpty(idVal)) {
            url = '${ctx!}/sysFile/addAction';
        } else {
            url = '${ctx!}/sysFile/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                try {
                    data = JSON.parse(data);
                    if (data.error == 0) {
                        parent.layerTools.layerMsg("上传成功", function () {
                            //parent.window.location.reload();
                            parent.$("#dg").datagrid("reload");
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    } else {
                        $('#error').html(data.message);
                    }
                } catch (e) {
                    console.log(data);
                    parent.layerTools.layerMsg(data, function () {
                        parent.$("#dg").datagrid("reload");
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            },
            error:function(e){
                console.log(e);
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<div id="error"></div>
<form id="modelForm" method="POST"
<#if !sysFile??>enctype="multipart/form-data"</#if>
>
<table class=" pure-table pure-table-horizontal">
    <input id="id" name="id" type="hidden" value="${(sysFile.id)!}">
    <tbody id="tbody">
    <#if !sysFile??>
        <tr>
            <td>文件：</td>
            <td>
                <input style="width: 100%;" name="file" class="easyui-filebox"
                       data-options="required:true, buttonText: '选择文件', buttonAlign: 'right'">
            </td>
        </tr>
    </#if>
    <tr>
        <td>文件备注：</td>
        <td>
            <input style="width: 300px; height: 100px" name="remark" value="${(sysFile.remark)!}"
                   class="easyui-textbox" data-options="multiline:true ">
        </td>
    </tr>

    </tbody>
</table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-close'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
</@layout>
