<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/codemirror/codemirror.css">
<link rel="stylesheet" href="${ctx!}/res/codemirror/material.css">
<script src="${ctx!}/res/codemirror/codemirror.js"></script>
<script src="${ctx!}/res/codemirror/javascript.js"></script>
<script src="${ctx!}/res/codemirror/jquery.nicescroll.min.js"></script>
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
<style>
    #editAfterGen {
        position: absolute;
        z-index: 9999;
        right: 10px;
        top: 10px;
    }

    .pure-button {
        padding: 5px 8px;
        margin: 5px 2px;
    }

    .button-success {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        background: rgb(28, 184, 65); /* this is a green */
    }

    .CodeMirror {
        border: 1px solid #263238;
        height: auto;
    }

    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
</style>
<script>
    Date.prototype.Format = function (fmt) { //author: meizz
        var o = {
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds(), //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds() //毫秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>
</head>
<body>
<script type="text/javascript">
    var myCodeMirror;
    function genCode() {
        var jsonObj;
        try {
            jsonObj = JSON.parse(myCodeMirror.getValue())
        } catch (e) {
            layerTools.layerMsg("json格式错误: " + e);
            return;
        }
        $.ajax({
            url: '${ctx!}/sysGenerator/generate',
            type: 'post',
            data: {
                jsonStr: myCodeMirror.getValue()
            },
            dataType: 'json',
            success: function (data) {
                if (data.state == 'ok') {
                    layer.alert("代码生成成功（文件路径可通过浏览器控制台查看）! ", {icon: 6});
                    console.log("-----generateTime:" + new Date().Format("yyyy-MM-dd hh:mm:ss") + "-----moduleName:"+jsonObj.moduleName+"-----");
                    for(var i=0;i<data.outputPaths.length;i++){
                        console.log(i+ " ========== "+data.outputPaths[i])
                    }
                    $("#editAfterGen").attr("disabled", "disabled");
                } else {
                    layerTools.layerMsg(data.msg);
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
    }

    function jsonView() {
        var rows = $("#dg").treegrid("getSelections");
        if (rows.length != 0) {
            var obj = {};
            obj.moduleName = "请在此输入模块名 :)";
            obj.tables = rows;
            var formatJSONStr = JSON.stringify(obj, null, "\t");
            var content = '<div id="cm"  ></div>'
                + ' <button id="editAfterGen"  onclick="genCode()"  class="pure-button button-success" >代码生成</button>';
            layerTools.layerDialog(['500px', '60%'], '<i class="fa fa-code"></i>&nbsp;&nbsp;&nbsp;&nbsp;' + '代码生成（可修改json控制生成的代码)', content)
            myCodeMirror = CodeMirror(document.getElementById('cm'), {
                value: formatJSONStr,
                lineNumbers: true,
                mode: {name: "javascript", json: true},
                scrollbarStyle: null,
                matchBrackets: true,
                theme: "material"
            });

            $('.layui-layer-content').niceScroll({
                cursorcolor: "#dcdee0", //滚动条的颜色
                cursoropacitymax: 0, //滚动条的透明度，从0-1（隐藏）
                touchbehavior: false, //使光标拖动滚动像在台式电脑触摸设备
                cursorwidth: "8px", //滚动条的宽度
                cursorborder: "0", // 游标边框css定义
                cursorborderradius: "5px", //以像素为光标边界半径  圆角
                autohidemode: true, //是否隐藏滚动条  true的时候默认不显示滚动条，当鼠标经过的时候显示滚动条
                zindex: "auto", //给滚动条设置z-index值
                railpadding: {
                    top: 0,
                    right: -4,
                    left: 0,
                    bottom: 0
                }, //滚动条的位置
            });
        } else {
            layerTools.layerMsg('请至少选择一行数据');
        }
    }



    //条件查询
    function queryModel() {
        var tableName = $("#tableName").textbox("getValue");
        $('#dg').datagrid({
            loadFilter: function (data) {
                var dAry = [];
                for (var i = 0; i < data.length; i++) {
                    if (data[i].tableName.indexOf(tableName) >= 0) {
                        dAry.push(data[i]);
                    }
                }
                return dAry;
            }
        });
    }


</script>

<div id="nestLayout" class="easyui-layout" fit="true">
    <div data-options="region:'east' " title="列信息"
         split="true" collapsed="true"
         style="width: 40%;">
        <table id="rdg" class="easyui-datagrid" fit="true" border="false" fitColumns="true" rownumbers="true"
               singleSelect="true"></table>
    </div>
    <div data-options="region:'center' " border="false" split="true">
        <table id="dg" class="easyui-datagrid  "
               toolbar="#tb" rownumbers="true" border="false" fitColumns="true"
               fit="true">
            <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th field="tableName" width="50">表名</th>
                <th field="tableComment" width="100">表备注</th>
                <th field="tablePrimaryKeys" width="50">主键</th>
                <th field="tableNameCamel" width="100">表名驼峰</th>
                <th field="tableNameCamelFirstUp" width="100">表名驼峰首字大写</th>
            </tr>
            </thead>
        </table>
        <div id="tb">
            <a onclick="jsonView()" href="#" class="easyui-linkbutton" iconCls="icon-genTool" plain="true">代码生成</a>
            <span id="enterSpan" class="searchInputArea">
					<input id="tableName" prompt="表名" class="easyui-textbox" style="width:150px">
					<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="queryModel()">过滤</a>
            </span>
        </div>
    </div>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script>
    $(function () {

        // enter监听查询
        $("#enterSpan").on("keydown", function (e) {
            if (e.keyCode == 13) {
                queryModel();
            }
        })

        $("#dg").datagrid({
            url: "${ctx!}/sysGenerator/query?fullFlag=true",  // 放在dom 中会导致请求两次
            onSelect: function (index, row) {
                $('#rdg').datagrid({
                    data: row.columnList,
                    columns: [[
                        {field: 'columnName', title: '列名', width: 100},
                        {field: 'columnComment', title: '列注释', width: 100},
                        {field: 'columnDBType', title: '列类型DB', width: 100},
                        {field: 'columnJavaType', title: '列类型Java', width: 100}
                    ]]
                });
                $("#nestLayout").layout("expand", "east");
            },
            onUnselect: function (index, row) {
                $("#nestLayout").layout("collapse", "east");
            }
        })
    });
</script>
</@layout>
