<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if (isEmpty(idVal)) {
            url = '${ctx!}/sysMenu/addAction';
        } else {
            url = '${ctx!}/sysMenu/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.layerTools.layerMsg(data, function () {
                   parent.window.location.reload();
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal" style="width: 80%;max-width: 460px;">
        <input id="id" name="id" type="hidden" value="${(sysMenu.id)!}">
        <tbody>
        <tr>
            <td>父菜单：</td>
            <td>
                <input name="pid" id="pid" style="width: 180px;">
            </td>
        </tr>
        <tr>
            <td>菜单名：</td>
            <td>
                <input name="name" value="${(sysMenu.name)!}"  class="easyui-textbox"
                       data-options="required:true" style="width: 180px">
            </td>
        </tr>

        <tr>
            <td>菜单地址：</td>
            <td>
                <input name="url" value="${(sysMenu.url)!}"   class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
        </tr>

        <tr>
            <td>排序：</td>
            <td>
                <input name="sort" value="${(sysMenu.sort)!}"  class="easyui-numberbox"
                       data-options="required:true,precision:0" style="width: 180px;">
            </td>
        </tr>

        <tr>
            <td>图标：</td>
            <td>
                <input name="icon" value="${(sysMenu.icon)!}"   class="easyui-textbox" style="width: 180px;">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-close'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    ;(function () {
        var easyTree = new EasyTree();
        $("#pid").combotree({
            url: '${ctx!}/sysMenu/allMenu',
            value: '${(sysMenu.pid)!}',
            loadFilter: function (data, parent) {
                // 数据处理
                data = easyTree.treeDataBuild(data, "id", "pid", "text,open,iconCls");
                return data;
            },
            onLoadSuccess:function(){
                // 移除自身和 子
                var sid ='${(sysMenu.id)!}';
                if($.trim(sid)!=""){
                    console.log('remove tree node :'+sid);
                    var t = $("#pid").combotree('tree');
                    var node= t.tree("find",sid);
                    t.tree("remove",node.target);
                }
            }
        });

    })();
</script>
</@layout>
