<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<script>
    function newModel() {
        layerTools.layerIframe('fa-plus', '新建', '${ctx!}/sysMenu/newModel', '600px', '400px')
    }

    function editModel() {
        var node = $("#tt").treegrid("getSelected");
        if (node != null) {
            layerTools.layerIframe('fa-pencil', '编辑', '${ctx!}/sysMenu/newModel?id=' + node.id, '600px', '400px')
        } else {
            layerTools.layerMsg('请选择一行数据进行编辑');
        }
    }

    function deleteModel() {
        var node = $("#tt").treegrid("getSelected");
        if (node != null) {

            layerTools.confirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                $.post('${ctx}/sysMenu/deleteAction?id=' + node.id, function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#tt').treegrid('reload');
                    });
                }, "text");
            });

        } else {
            layerTools.layerMsg('请选择一行进行删除');
        }
    }

    function queryModel() {
        var queryParams = {
            search_LIKE_name: $("#menuName").textbox("getValue")
        };
        //alert(JSON.stringify(queryParams));
        $('#tt').treegrid('load', queryParams);
    }
</script>
</head>
<body>
<table id="tt" border="false"></table>
<div id="tt-tb">
    <a onclick="newModel()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"> 新增</a>
    <a onclick="editModel()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
    <a onclick="deleteModel()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>

    <span id="enterSpan" class="searchInputArea">
      	<input id="menuName" prompt="菜单名" class="easyui-textbox" style="width:150px">
	    <a onclick="queryModel()" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script type="text/javascript" charset="utf-8">

    // enter监听查询
    $("#enterSpan").on("keydown",function(e){
        if(e.keyCode==13){
            queryModel();
        }
    })


    ;(function () {
        var easyTree = new EasyTree();
        $("#tt").treegrid({
            url: '${ctx!}/sysMenu/query',
            method: 'POST',
            idField: 'id',
            treeField: 'name',
            fit: true,
            rownumbers: true,
            toolbar: '#tt-tb',
            loadFilter: function (data) {

                // 为了显示图标
                for (var i = 0; i < data.length; i++) {
                    if (data[i].icon != null) {
                        console.log(data[i].icon);
                        data[i].iconCls = data[i].icon;
                    }
                }
                // tree json 构建
                data = easyTree.treeDataBuild(data, 'id', 'pid', 'name,url,icon,sort,iconCls');
                return data;
            },
            columns: [[
                {field: 'name', title: '菜单名', width: 200},
                {field: 'url', title: '菜单地址', width: 200},
                {field: 'icon', title: '图标', width: 150},
                {field: 'sort', title: '排序', width: 80}
            ]]
        });
    })();
</script>
</@layout>
