<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
</head>
<body>
<script type="text/javascript">
    function exportToCsv() {
        document.exportForm.action="${ctx!}/sysOplog/exportToCvs";
        document.exportForm.submit();
    }

    function exportToExcel() {
        document.exportForm.action="${ctx!}/sysOplog/exportToExcel";
        document.exportForm.submit();
    }


    function deleteModel() {
        var rows = $("#dg").datagrid("getSelections");
        if (rows != null) {
            layerTools.confirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                var ids = [];
                for (x in rows) {
                    ids.push(rows[x].id);
                }
                ids = ids.join(',');
                $.post('${ctx}/sysOplog/deleteAction?ids=' + ids, function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text");
            });
        } else {
            layerTools.layerMsg('请选择记录进行删除');
        }
    }

    //条件查询
    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_su.name'] = $("#username").textbox("getValue");
        queryParams['search_LIKE_so.op_content'] = $("#opContent").textbox('getValue');
        queryParams['search_LIKE_so.ip'] = $("#ip").textbox('getValue');
        $('#dg').datagrid('load', queryParams);
    }
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/sysOplog/query"
       toolbar="#tb" rownumbers="true" border="false"
       fit="true" pagination="true"
       pageSize="40" pageList="[20,40]"
>
    <thead>
    <tr>
        <th data-options="field:'id',checkbox:true"></th>
        <th field="user_name" width="150">姓名</th>
        <th field="op_content" width="350">日志内容</th>
        <th field="ip" width="150">ip地址</th>
        <th field="create_time" width="150">创建时间</th>
    </tr>
    </thead>
</table>

<div id="tb">
    <a onclick="deleteModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-trash-o',plain:true">删除</a>
    <a onclick="exportToExcel()" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-file-excel-o',plain:true">导出xls</a>
    <a onclick="exportToCsv()" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-file-text-o',plain:true">导出csv</a>
    <span id="enterSpan" class="searchInputArea">
          <form id="exportForm" name="exportForm" method="post" target="_blank">
               <!--使用form 提交表单，用于导出excel文件，post提交避免参数乱码 -->
               <input id="username" prompt="操作人" name="search_LIKE_su.name" class="easyui-textbox" style="width:120px; ">
               <input id="opContent" prompt="内容" name="search_LIKE_so.op_content" class="easyui-textbox" style="width:120px">
               <input id="ip" prompt="ip地址" name="search_LIKE_so.ip" class="easyui-textbox" style="width:120px">
               <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-search',plain:true" onclick="queryModel()">搜索</a>
          </form>

    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script>
    // enter监听查询
    $("#enterSpan").on("keydown",function(e){
        if(e.keyCode==13){
            queryModel();
        }
    })
</script>
</@layout>
