<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/css/magic-check.css">
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<style>
    .tree-folder {
        background: url('${ctx!}/res/easyui1.5.4.5/themes/icons/cus-icons/org.png') no-repeat center center;
    }

    .tree-folder-open {
        background: url('${ctx!}/res/easyui1.5.4.5/themes/icons/cus-icons/org.png') no-repeat center center;
    }

    .tree-file {
        background: url('${ctx!}/res/easyui1.5.4.5/themes/icons/cus-icons/org2.png') no-repeat center center;
    }
</style>
<script>
    function newModel() {
        layerTools.layerIframe('fa-plus', '新建', '${ctx!}/sysOrg/newModel', '600px', '500px')
    }

    function editModel() {
        var node = $("#tt").treegrid("getSelected");
        if (node != null) {
            layerTools.layerIframe('fa-pencil', '编辑', '${ctx!}/sysOrg/newModel?id=' + node.id, '600px', '500px')
        } else {
            layerTools.layerMsg('请选择一行数据进行编辑');
        }
    }

    function deleteModel() {
        var node = $("#tt").treegrid("getSelected");
        if (node != null) {
            layerTools.confirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                $.post('${ctx}/sysOrg/deleteAction?id=' + node.id, function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#tt').treegrid('reload');
                    });
                }, "text").error(function(){ layerTools.AlertErrorMsg(); });
            });
        } else {
            layerTools.layerMsg('请选择一行进行删除');
        }
    }

    function queryModel() {
        var queryParams = {
            search_LIKE_org_name: $("#orgName").textbox("getValue")
        };
        //alert(JSON.stringify(queryParams));
        $('#tt').treegrid('load', queryParams);
    }
</script>
</head>
<body>
<div id="nestLayout" class="easyui-layout" fit="true"   >
    <div data-options="region:'center' "
         split="true" border="false" collapsed="false">

        <div id="nestLayout2" class="easyui-layout" fit="true">
            <div data-options="region:'north' "
                 split="true" collapsed="false" style="height:60px;border-top: none;">
                <table class=" pure-table pure-table-horizontal" style="margin: 10px auto">
                    <tr>
                        <td><span style="font-weight: bold">机构地址：</span></td>
                        <td id="orgAddressTd"></td>
                        <td><span style="font-weight: bold">机构备注：</span></td>
                        <td id="orgRemarkTd"></td>
                    </tr>
                </table>
            </div>
            <div data-options="region:'center' "
                 split="true" border="false" collapsed="false">
                <table id="dg" class="easyui-datagrid  " url="${ctx!}/sysOrg/queryUser"
                       toolbar="#dgTB" rownumbers="true" singleSelect="true"
                       fit="true"
                       fitColumns="true"
                       pagination="true"
                       pageSize="50"
                       pageList="[50,100,150]">
                    <thead>
                    <tr>
                        <th field="name" align="center" width="100">姓名</th>
                        <th field="username" align="center" width="100">登录名</th>
                        <th field="phone" align="center" width="100">电话</th>
                        <th field="email" align="center" width="100">邮箱</th>
                        <th field="create_time" align="center" width="200">创建时间</th>
                        <th field="disabled" align="center" width="100" formatter="formatDisabled">是否禁用</th>
                    </tr>
                    </thead>
                </table>
                <div id="dgTB" style="padding:10px;">
                    <input id="cascadeSearch" class="magic-checkbox" type="checkbox" name="cascadeSearch" checked>
                    <label for="cascadeSearch">级联查询</label>
                </div>
            </div>
        </div>

    </div>

    <div data-options="region:'west' " split="true"  style="width:500px;border-top: none;">
        <table id="tt" border="false"    data-options="onDblClickRow:editModel" ></table>
        <div id="tt-tb">
            <a onclick="newModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-plus-square-o',plain:true"> 新增</a>
            <a onclick="editModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-pencil-square-o',plain:true">编辑</a>
            <a onclick="deleteModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-trash-o',plain:true">删除</a>
            <span id="enterSpan" class="searchInputArea">
                  <a href="#" class="easyui-linkbutton"   onclick="javascript:$('#tt').treegrid('expandAll')">展开</a>
                  <a href="#" class="easyui-linkbutton"   onclick="javascript:$('#tt').treegrid('collapseAll');">关闭</a>
                  <input id="orgName" prompt="机构名" class="easyui-textbox" style="width:150px">
                  <a onclick="queryModel()" class="easyui-linkbutton"  data-options="iconCls:'e-icon fa fa-search',plain:true">搜索</a>
            </span>
        </div>
    </div>

</div>

<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    function formatDisabled(val, row) {
        if (val == 0) {
            val = '正常';
        } else {
            val = '<span style="color:red">' + 无效 + '</span>';
        }
        return val;
    };
    ;(function () {
        var easyTree = new EasyTree();
        $("#tt").treegrid({
            url: '${ctx!}/sysOrg/query',
            method: 'POST',
            idField: 'id',
            treeField: 'org_name',
            fit: true,
            rownumbers: true,
            toolbar: '#tt-tb',
            loadFilter: function (data) {

                data = easyTree.treeDataBuild(data, 'id', 'pid', 'org_name,org_address,org_remark,sort');
                return data;
            },
            columns: [[
                {field: 'org_name', title: '机构名', width: 300},
                {field: 'sort', title: '排序', width: 80}
            ]],
            onSelect: function (row) {
                if (row.org_address == undefined) {
                    $('#orgAddressTd').text("");
                } else {
                    $('#orgAddressTd').text(row.org_address);
                }

                if (row.org_remark == undefined) {
                    $('#orgRemarkTd').text("");
                } else {
                    $('#orgRemarkTd').text(row.org_remark);
                }

                var queryParams = {};
                if ($('#cascadeSearch').prop('checked')) {
                    queryParams.orgId = row.id;
                } else {
                    queryParams.search_EQ_org_id = row.id;
                }
                $('#dg').datagrid('load', queryParams);
            }
        });

    })();
</script>
</@layout>