<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
<style>
    .pure-button {
        padding: 5px 8px;
        margin: 5px 2px;
    }

    .button-success,
    .button-error,
    .button-warning,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-success {
        background: rgb(28, 184, 65); /* this is a green */
    }

    .button-error {
        background: rgb(202, 60, 60); /* this is a maroon */
    }

    .button-warning {
        background: rgb(223, 117, 20); /* this is an orange */
    }

    .button-secondary {
        background: rgb(66, 184, 221); /* this is a light blue */
    }
</style>
</head>
<body>
<script type="text/javascript">

    function newModel() {
        layerTools.layerIframe('fa-plus', '新建', '${ctx!}/sysTask/newModel', '600px', '450px');
    }

    function editModel() {
        var row = $("#dg").treegrid("getSelected");
        if (row != null) {
            layerTools.layerIframe('fa-pencil', '编辑', '${ctx!}/sysTask/newModel?id=' + row.id, '600px', '450px')
        } else {
            layerTools.layerMsg('请选择一行数据进行编辑');
        }
    }


    function exportToCsv() {
        var queryParams = {};
        queryParams['search_LIKE_st.name'] = $("#name").textbox("getValue");
        var params = $.param(queryParams);
        var url = "${ctx!}/sysTask/exportToCvs?" + params;
        window.open(url, '导出csv');
    }

    function deleteModel() {
        var row = $("#dg").datagrid("getSelected");
        if (row != null) {
            layerTools.confirm(3, '删除', '您确定要删除选中的任务吗?', function () {
                $.post('${ctx}/sysTask/deleteAction?id=' + row.id, function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text");
            });

        } else {
            layerTools.layerMsg('请选择一个进行删除');
        }
    }

    //条件查询
    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_st.name'] = $("#name").textbox("getValue");
        $('#dg').datagrid('load', queryParams);
    }


    /**
     * 启动/停止
     */
    function startOrStop(index, status) {
        var tipMsg = "停止";
        if (status == 1) {
            tipMsg = "启动";
        }
        layerTools.confirm(3, '确认', tipMsg + '?', function () {
            var row = $("#dg").datagrid("getRows")[index];
            $.post("${ctx!}/sysTask/startOrStop", {id: row.id, status: status}, function (data) {
                layerTools.layerMsg(tipMsg + "成功！");
                $("#dg").datagrid("reload");
            });
        });
    }

    /**
     * 立即执行
     */
    function runAtSoon(index) {
        layerTools.confirm(3, '确认', '确认立即执行', function () {
            var row = $("#dg").datagrid("getRows")[index];
            $.post("${ctx!}/sysTask/runAtSoon", {id: row.id}, function (data) {
                layerTools.layerMsg("操作成功！");
                $("#dg").datagrid("reload");
            });
        });
    }
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/sysTask/query"
       toolbar="#tb" rownumbers="true" border="false"
       fit="true" pagination="true"
       singleSelect="true"
       fitColumns="true"
       pageSize="40" pageList="[20,40]"
>
    <thead>
    <tr>
        <th data-options="field:'id',checkbox:true"></th>
        <th field="name" width="60">名称</th>
        <th field="task_type" width="50">任务类型</th>
        <th field="target_value" width="250">任务值</th>
        <th field="cron" width="80">cron表达式</th>
        <th field="last_run_result" width="50">上次执行结果</th>
        <th field="last_run_time" width="120">上次执行时间</th>
        <th field="last_run_time_cost" width="80" formatter="formatLRTC">上次执行耗时</th>
        <th field="task_status" width="100" styler="formatStatus">状态</th>
        <th field="operate" width="200" formatter="formatOperate">操作</th>
    </tr>
    </thead>
</table>

<div id="tb">
    <a onclick="newModel()" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">增加</a>
    <a onclick="editModel()" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">编辑</a>
    <a onclick="deleteModel()" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
    <a onclick="exportToCsv()" class="easyui-linkbutton" data-options="iconCls:'icon-csv',plain:true">导出csv</a>
    <span class="searchInputArea">
          <input id="name" prompt="名称" class="easyui-textbox" style="width:120px; ">
          <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script>
    function formatLRTC(val, row) {
        if (val == null || val == undefined) {
            return val;
        }
        return val / 1000 + ' 秒';
    }

    function formatStatus(val, row) {
        if (val == "等待运行") {
            return 'background-color: #4cae4c; color: #fff;';
        } else if (val == "运行中") {
            return 'background-color: #4cae4c; color: #ffa500;';
        }
    }

    function formatOperate(value, row, index) {
        var html = "";
        if ((row.status || row.status) == 1) {
            html += '<a class="pure-button button-error" href="###" onclick="startOrStop(' + index + ', 2)">停止</a>';
        } else {
            html += '<a class="pure-button button-success" href="###" onclick="startOrStop(' + index + ', 1)">启动</a>';
        }
        html += '<a class="pure-button button-warning" href="###" onclick="runAtSoon(' + index + ')">立即运行</a>';
        html += '<a class="pure-button button-secondary" href="###" onclick="runLog(' + index + ')">运行记录</a>';
        return html;
    }
</script>
</@layout>
