<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if ($.trim(idVal) == "" || idVal == undefined || idVal == null) {
            url = '${ctx!}/sysTask/addAction';
        } else {
            url = '${ctx!}/sysTask/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.layerTools.layerMsg(data, function () {
                    parent.window.location.reload();
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal"  >
        <input id="id" name="id" type="hidden" value="${(sysTask.id)!}"  >
        <tbody>
        <tr>
            <td>名称：</td>
            <td>
                <input name="name" value="${(sysTask.name)!}" type="text" class="easyui-textbox"
                       data-options="required:true">
            </td>
        </tr>
        <tr>
            <td>任务类型：</td>
            <td>
                    <input    class="easyui-combobox" id="targetType" name="targetType"   data-options="
                                value:'${(sysTask.targetType)!}',
	            				valueField: 'id',
   								textField: 'text',
   								fit: true,
	            				data: [
	            					{id:'', text:''}<#list taskTypes as taskType>,{id:'${(taskType.dictKey)!}', text:'${(taskType.dictValue)!}'}</#list>
	            				]
	            				,required:true
	            	" />
            </td>
        </tr>

        <tr>
            <td>任务值：</td>
            <td>
                <input name="targetValue" value="${(sysTask.targetValue)!}" type="text" class="easyui-textbox" style="height: 100px; "
                       data-options="required:true,multiline:true">
            </td>

        </tr>
        <tr>
            <td>cron表达式:</td>
            <td>
                <input name="cron"  class="easyui-textbox"    value="${(sysTask.cron)!}"    data-options="required:true">
            </td>
        </tr>
        <#if sysTask??>
            <tr>
                <td>状态：</td>
                <td  >
                    <input   id="status" name="status" id="status" class="easyui-combobox"  data-options="
                            value:'${(sysTask.status)!}',
               				valueField: 'id',
        					textField: 'text',
        					fit: true,
        					data:[
        						{id:'', text:''}<#list taskStatus as taskStatu>,{id:'${(taskStatu.dictKey)!}', text:'${(taskStatu.dictValue)!}'}</#list>
	               			]
               		"/>
                </td>
            </tr>
        </#if>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    ;(function () {
        var easyTree = new EasyTree();
        $("#orgId").combotree({
            url: '${ctx!}/sysOrg/allOrg',
            value: '${(sysUser.orgId)!}',
            loadFilter: function (data, parent) {
                // 数据处理
                //console.log(JSON.stringify(data));
                data = easyTree.treeDataBuild(data, "id", "pid", "text,open");
                // console.log(data);
                return data;
            }
        });
    })();
</script>
</@layout>
