<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<style>
    .tree-folder {
        background: url('${ctx!}/res/easyui153/themes/cus-icons/org.png') no-repeat center center;
    }

    .tree-folder-open {
        background: url('${ctx!}/res/easyui153/themes/cus-icons/org.png') no-repeat center center;
    }

    .tree-file {
        background: url('${ctx!}/res/easyui153/themes/cus-icons/org2.png') no-repeat center center;
    }
</style>
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if ($.trim(idVal) == "" || idVal == undefined || idVal == null) {
            url = '${ctx!}/sysUser/addAction';
        } else {
            url = '${ctx!}/sysUser/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.layerTools.layerMsg(data, function () {
                    //parent.window.location.reload();
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <input id="id" name="id" type="hidden" value="${(sysUser.id)!}">
        <tbody>
        <tr>
            <td>登录名：</td>
            <td>
                <input name="username" value="${(sysUser.username)!}" type="text" class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
            <td>密码：</td>
            <td>
                <input name="password" value="${(sysUser.password)!}" type="text" class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
        </tr>

        <tr>
            <td>姓名：</td>
            <td>
                <input name="name" value="${(sysUser.name)!}" type="text" class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
            <td>部门：</td>
            <td>
                <input name="orgId" id="orgId" style="width: 180px;">
            </td>
        </tr>

        <tr>
            <td>电话：</td>
            <td>
                <input name="phone" value="${(sysUser.phone)!}" type="text" class="easyui-textbox" style="width: 180px;">
            </td>
            <td>邮箱：</td>
            <td>
                <input name="email" value="${(sysUser.email)!}" type="text" class="easyui-textbox" style="width: 180px;">
            </td>
        </tr>

        <tr>
            <td>状态：</td>
            <td colspan="3">
                <select id="disabled" class="easyui-combobox" name="disabled" style="width:180px;">
                    <option value="0">正常</option>
                    <option value="1">无效</option>
                </select>
            </td>
            <script>
                ;(function () {
                    var disabledVal = '${(sysUser.disabled)!}';
                    $("#disabled").val(disabledVal); // select 必须如此使用
                })();
            </script>
        </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    ;(function () {
        var easyTree = new EasyTree();
        $("#orgId").combotree({
            url: '${ctx!}/sysOrg/allOrg',
            value: '${(sysUser.orgId)!}',
            loadFilter: function (data, parent) {
                // 数据处理
                //console.log(JSON.stringify(data));
                data = easyTree.treeDataBuild(data, "id", "pid", "text,open");
                // console.log(data);
                return data;
            }
        });
    })();
</script>
</@layout>
