<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<script>
    function newModel() {
        popup.openIframe('新建', '${ctx!}/authMenu/newModel', '600px', '400px');
    }
    function editModel() {
        var node = $("#tt").treegrid("getSelected");
        if (node != null) {
            popup.openIframe('编辑', '${ctx!}/authMenu/newModel?id=' + node.id, '600px', '400px')
        } else {
            popup.msg('请选择一行数据进行编辑');
        }
    }
    function deleteModel() {
        var node = $("#tt").treegrid("getSelected");
        if (node != null) {
            popup.openConfirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                $.post('${ctx}/authMenu/deleteAction?id=' + node.id, function (data) {
                    popup.msg(data, function () {
                        $('#tt').treegrid('reload');
                    });
                }, "text").error(function(){ popup.errMsg(); });
            });
        } else {
            popup.msg('请选择一行进行删除');
        }
    }
    function queryModel() {
        var queryParams = {
            search_LIKE_name: $("#menuName").textbox("getValue")
        };
        $('#tt').treegrid('load', queryParams);
    }
</script>
</head>
<body>
<table  id="tt" ></table>
<div id="tt-tb">
    <a onclick="newModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-add',plain:true"> 新增</a>
    <a onclick="editModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-edit',plain:true">编辑</a>
    <a onclick="deleteModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-delete',plain:true">删除</a>

    <span id="enterSpan" class="searchInputArea">
      	<input id="menuName" prompt="菜单名" class="easyui-textbox" style="width:150px">
	    <a onclick="queryModel()" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-search',plain:true">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
<script type="text/javascript" charset="utf-8">

    ;(function () {
        var easyTree = new EasyTree();
        $("#tt").treegrid({
            url: '${ctx!}/authMenu/query',
            method: 'POST',
            idField: 'id',
            treeField: 'name',
            fit: true,
            border:false,
            lines:true,
            animate:true,
            rownumbers: true,
            toolbar: '#tt-tb',
            loadFilter: function (data) {
                /* 为了显示图标*/
                for (var i = 0; i < data.length; i++) {
                    if (data[i].icon != null) {
                        /*console.log(data[i].icon);*/
                        data[i].iconCls = data[i].icon;
                    }
                }
                /* tree json 构建 */
                data = easyTree.treeDataBuild(data, 'id', 'pid', 'name,url,icon,iconfont,sort,iconCls,create_time,last_edit_time');
                return data;
            },
            columns: [[
                {field: 'name', title: '菜单名', width: 200},
                {field: 'url', title: '菜单地址', width: 200},
                {field: 'icon', title: '图标', width: 150},
                {field: 'iconfont', title: '字体图标', width: 150},
                {field: 'sort', title: '排序', width: 80},
                {field: 'create_time', title: '创建时间', width: 150},
                {field: 'last_edit_time', title: '最后修改时间', width: 150},
            ]],
            onDblClickRow:editModel
        });
    })();
</script>
</@layout>
