<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if (isEmpty(idVal)) {
            url = '${ctx!}/authMenu/addAction';
        } else {
            url = '${ctx!}/authMenu/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.popup.msg(data, function () {
                    parent.window.location.reload();
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal"  >
        <input id="id" name="id" type="hidden" value="${(authMenu.id)!}">
        <tbody>
        <tr>
            <td>父菜单：</td>
            <td>
                <input name="pid" id="pid" >
            </td>
        </tr>
        <tr>
            <td>菜单名：</td>
            <td>
                <input name="name" value="${(authMenu.name)!}"  class="easyui-textbox"
                       data-options="required:true"  >
            </td>
        </tr>

        <tr>
            <td>菜单地址：</td>
            <td>
                <input name="url" value="${(authMenu.url)!}"   class="easyui-textbox"
                       data-options="required:true"  >
            </td>
        </tr>

        <tr>
            <td>排序：</td>
            <td>
                <input name="sort" value="${(authMenu.sort)!}"  class="easyui-numberbox"
                       data-options="required:true,precision:0"  >
            </td>
        </tr>

        <tr>
            <td>图标：</td>
            <td>
                <input name="icon" value="${(authMenu.icon)!}"   class="easyui-textbox"  >
            </td>
        </tr>
        <tr>
            <td>字体图标：</td>
            <td>
                <input name="iconfont" value="${(authMenu.iconfont)!}"   class="easyui-textbox" >
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    ;(function () {
        var easyTree = new EasyTree();
        $("#pid").combotree({
            url: '${ctx!}/authMenu/allMenu',
            value: '${(authMenu.pid)!}',
            editable:true,
            loadFilter: function (data, parent) {
                var x ={
                    id:0,
                    pid:-1,
                    text:'根菜单',
                    open:true
                };
                data.push(x);
                /* 数据处理*/
                data = easyTree.treeDataBuild(data, "id", "pid", "text,open,iconCls");
                return data;
            },
            onLoadSuccess:function(){
                /* 移除自身和自身子节点*/
                var sid ='${(authMenu.id)!}';
                if($.trim(sid)!=""){
                    console.log('remove tree node :'+sid);
                    var t = $("#pid").combotree('tree');
                    var node= t.tree("find",sid);
                    t.tree("remove",node.target);
                }
            }
        });

    })();
</script>
</@layout>