<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/css/form.css">
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if (isEmpty(idVal)) {
            url = '${ctx!}/authRole/addAction';
        } else {
            url = '${ctx!}/authRole/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.popup.msg(data, function () {
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <input id="id" name="id" type="hidden" value="${(authRole.id)!}">
        <tbody>
        <tr>
            <td>角色名：</td>
            <td>
                <input  name="roleName" id="roleName" value="${(authRole.roleName)!}" class="easyui-textbox"  data-options="required:true">
            </td>
        </tr>
        <tr>
            <td>角色编码：</td>
            <td>
                <input  name="roleCode" id="roleCode" value="${(authRole.roleCode)!}" class="easyui-textbox"  data-options="required:true">
            </td>
        </tr>
        <tr>
            <td>角色描述：</td>
            <td>
                <input name="roleDesc" value="${(authRole.roleDesc)!}"   class="easyui-textbox" data-options="required:true">
            </td>
        </tr>
        <tr>
            <td>排序：</td>
            <td>
                <input name="sort" value="${(authRole.sort)!}"  class="easyui-numberbox" data-options="required:true,precision:0">
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
</@layout>