<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/css/form.css">
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<style>
    .tree-folder {
        background: url('${ctx!}/res/image/icon/org.png') no-repeat center center;
    }
    .tree-folder-open {
        background: url('${ctx!}/res/image/icon/org.png') no-repeat center center;
    }
    .tree-file {
        background: url('${ctx!}/res/image/icon/org2.png') no-repeat center center;
    }
</style>
<script>
    function saveAction() {
        var url;
        var idVal = $("#id").val();
        if (isEmpty(idVal)) {
            url = '${ctx!}/authUser/addAction';
        } else {
            url = '${ctx!}/authUser/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.popup.msg(data, function () {
                    /*parent.window.location.reload();*/
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <input id="id" name="id" type="hidden" value="${(authUser.id)!}">
        <tbody>
        <tr>
            <td>登录名：</td>
            <td>
                <input name="username" value="${(authUser.username)!}"   class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
            <td>密码：</td>
            <td>
                <input name="password" value="${(authUser.password)!}"   class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
        </tr>

        <tr>
            <td>姓名：</td>
            <td>
                <input name="name" value="${(authUser.name)!}"   class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>

            <td>性别：</td>
            <td >
                <select id="gender" class="easyui-combobox" name="gender" required="true" style="width:180px;">
                    <option value="1">男</option>
                    <option value="0">女</option>
                </select>
            </td>
            <script>
                ;(function () {
                    var genderVal = '${(authUser.gender)!}';
                    $("#gender").val(genderVal);
                })();
            </script>
        </tr>
        <tr>
            <td>部门：</td>
            <td>
                <input name="orgId" id="orgId" style="width: 180px;">
            </td>

            <td>职务：</td>
            <td>
                <input name="job" value="${(authUser.job)!}"   class="easyui-textbox"
                       data-options="required:true" style="width: 180px;">
            </td>
        </tr>
        <tr>
            <td>职务级别：</td>
            <td>
                <input id="jobLevel" name="jobLevel"   class="easyui-combobox" style="width: 180px;"  value="${(authUser.jobLevel)!}"
                       data-options="url:'${ctx!}/dataDict/queryDictData?type=jobLevel&fields=dict_key as text, dict_value as value',required:true">
            </td>

            <td>电话：</td>
            <td>
                <input name="phone" value="${(authUser.phone)!}"   class="easyui-textbox" style="width: 180px;">
            </td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td>
                <input name="email" value="${(authUser.email)!}"   class="easyui-textbox" style="width: 180px;">
            </td>

            <td>状态：</td>
            <td  >
                <select id="disabled" class="easyui-combobox" name="disabled" style="width:180px;">
                    <option value="0">正常</option>
                    <option value="1">无效</option>
                </select>
            </td>
            <script>
                ;(function () {
                    var disabledVal = '${(authUser.disabled)!}';
                    $("#disabled").val(disabledVal); /* select 必须如此使用*/
                })();
            </script>
        </tr>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    ;(function () {
        var easyTree = new EasyTree();
        $("#orgId").combotree({
            url: '${ctx!}/authOrg/allOrg',
            value: '${(authUser.orgId)!}',
            required:true,
            loadFilter: function (data, parent) {
                /* 数据处理*/
                data = easyTree.treeDataBuild(data, "id", "pid", "text,open");
                return data;
            }
        });
    })();
</script>
</@layout>
