<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/css/form.css">
<style>
    .tree-icon {
        background: none;
        display: none;
    }
    html,body{
        height: 96%;
    }
</style>
</head>
<body style="background-color:#f5f5f5">
<script type="text/javascript">
    function giveRoles() {
        var checkedNodes = $("#allRoleTree").tree("getChecked");
        if (checkedNodes.length == 0) {
            popup.msg('请选择要分配的角色!');
            return;
        }
        var roleIds = [];
        for (var i = 0; i < checkedNodes.length; i++) {
            roleIds.push(checkedNodes[i].id);
        }
        $.post('${ctx!}/authUser/giveRole', {
            userId: '${userId!}',
            roleIds: roleIds.join(";")
        }, function (result) {
            popup.msg(result);
        }, 'text').error(function(){ popup.errMsg(); });
    }
</script>
<div id="toolbars" style=" text-align: right;padding-bottom: 5px; ">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-save'" onclick="giveRoles()">赋予角色</a>
</div>
<div style="height: 96%; overflow: auto;background-color:#fff;border: 1px solid lightgray;">
    <ul id="allRoleTree" class="easyui-tree"></ul>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
<script>
    function openPermissionPanel(){
        var url = "${ctx!}/authUser/roleListChecked?userId=${userId!}";
        $.getJSON(url, function (data) {
            $("#allRoleTree").tree({
                data: data,
                checkbox: true
            });
        });
    }
    $(function(){
        openPermissionPanel();
    });
</script>
</@layout>
