<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
</head>
<body>
<script type="text/javascript">
    function newModel() {
        layerTools.layerIframe('fa-plus', '新建', '${ctx!}/authRole/newModel', '600px', '350px');
    }

    function editModel() {
        var row = $("#dg").treegrid("getSelected");
        if (row != null) {
            layerTools.layerIframe('fa-pencil', '编辑', '${ctx!}/authRole/newModel?id=' + row.id, '600px', '350px');
        } else {
            layerTools.layerMsg('请选择一行数据进行编辑');
        }
    }

    function deleteModel() {
        var row = $("#dg").datagrid("getSelected");
        if (row != null) {
            layerTools.confirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                $.post('${ctx}/authRole/deleteAction?id=' + row.id, function (data) {
                    layerTools.layerMsg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text").error(function(){ layerTools.AlertErrorMsg(); });
            });

        } else {
            layerTools.layerMsg('请选择一行进行删除');
        }
    }
    function queryModel() {
        var queryParams = {
            search_LIKE_role_name: $("#roleName").textbox("getValue"),
        };
        $('#dg').datagrid('load', queryParams);
    }
    /*数组去重*/
    Array.prototype.unique = function () {
        var res = [];
        var json = {};
        for (var i = 0; i < this.length; i++) {
            if (!json[this[i]]) {
                res.push(this[i]);
                json[this[i]] = 1;
            }
        }
        return res;
    };
    /*分配权限*/
    function givePermission() {
        var checkedNodes = $("#allMenuTree").tree("getChecked");

        var roleRow = $("#dg").datagrid("getSelected");
        if (roleRow == null) {
            layerTools.layerMsg('请选择要分配权限的角色!');
            return;
        }

        var permissIds = [];
        for (var i = 0; i < checkedNodes.length; i++) {
            /* 可以增加筛选提交 排序 "/" */
            if($("#allMenuTree").tree("isLeaf",checkedNodes[i].target)){
                permissIds.push(checkedNodes[i].id);
            }
        }

        $.post('${ctx!}/authRole/givePermission', {
            roleId: roleRow.id,
            permissIds: permissIds.join(";")
        }, function (result) {
            layerTools.layerMsg(result);
        }, 'text').error(function(){ layerTools.AlertErrorMsg(); });
    }

</script>

<div id="nestLayout" class="easyui-layout" fit="true">
    <div data-options="region:'east' " title="权限树"
         split="true" collapsed="true" tools="#treeTB"
         style="width: 300px;" headerCls="btNone" >
        <ul id="allMenuTree" class="easyui-tree"></ul>
    </div>
    <div data-options="region:'center' "   split="true" style="border-top: none">

        <table id="dg" class="easyui-datagrid  "
               data-options="onDblClickRow:editModel"
               toolbar="#tb" rownumbers="true" singleSelect="true" border="false"
               fit="true" pagination="true">
            <thead>
            <tr>
                <th field="role_name" width="150">角色名</th>
                <th field="role_desc" width="300">角色描述</th>
                <th field="sort" width="50">排序</th>
                <th field="create_time" width="150">创建时间</th>
                <th field="last_edit_time" width="150">最后修改时间</th>
            </tr>
            </thead>
        </table>

        <div id="tb">
            <a onclick="newModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-plus-square-o" plain="true">新增</a>
            <a onclick="editModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-pencil-square-o" plain="true">编辑</a>
            <a onclick="deleteModel()" href="#" class="easyui-linkbutton  " iconCls="e-icon fa fa-trash-o" plain="true">删除</a>
            <span id="enterSpan" class="searchInputArea">
					<input id="roleName" prompt="角色名" class="easyui-textbox" style="width:150px">
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon fa fa-search',plain:true" onclick="queryModel()">搜索</a>
            </span>
        </div>
        <div id="treeTB">
            <span iconCls="e-icon fa fa-save" onclick="givePermission()" title="授权" style="margin-right: 20px; border-radius: 1px"></span>
        </div>
    </div>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script>
    $(function () {
        var easyTree = new EasyTree();
        $("#dg").datagrid({
            url:"${ctx!}/authRole/query",
            onSelect: function (index, row) {
                var url = "${ctx!}/authRole/menuTreePermissionChecked?roleId=" + row.id;
                $.getJSON(url, function (data) {
                    data = easyTree.treeDataBuild(data, 'id', 'pid', 'text,state,checked,pid,iconCls');
                    $("#allMenuTree").tree({
                        data: data,
                        checkbox: true
                    });
                    $("#nestLayout").layout("expand", "east");
                });
            },
            onUnselect: function (index, row) {
                $("#nestLayout").layout("collapse", "east");
            }
        })
    });
</script>
</@layout>
