<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
<style>
    .pure-button{
        margin: 3px 0;
        background-color:#FFFFFF;
        border: 1px solid lightgray;
    }
</style>
</head>
<body>
<script type="text/javascript">
    function newModel() {
        popup.openIframe('新建', '${ctx!}/authUser/newModel', '800px', '450px')
    }

    function editModel() {
        var row = $("#dg").treegrid("getSelected");
        if (row != null) {
            popup.openIframe('编辑', '${ctx!}/authUser/newModel?id=' + row.id, '800px', '450px')
        } else {
            popup.msg('请选择一行数据进行编辑');
        }
    }

    function deleteModel() {
        var row = $("#dg").datagrid("getSelected");
        if (row != null) {
            popup.openConfirm(3, '删除', '您确定要删除选中的记录吗?', function () {
                $.post('${ctx}/authUser/deleteAction?id=' + row.id, function (data) {
                    popup.msg(data, function () {
                        $('#dg').datagrid('reload');
                    });
                }, "text").error(function(){ popup.errMsg(); });
            });

        } else {
            popup.msg('请选择一行进行删除');
        }
    }

    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_su.username'] = $("#username").textbox("getValue");
        queryParams['search_LIKE_su.name'] = $("#name").textbox("getValue");
        queryParams['search_LIKE_so.name'] = $("#orgName").textbox("getValue");
        queryParams['search_EQ_su.disabled'] = $("#disabled").combobox('getValue');
        $('#dg').datagrid('load', queryParams);
    }

    /**
     *  角色 分配权限
     */
    function giveRoles() {
        var checkedNodes = $("#allRoleTree").tree("getChecked");

        if (checkedNodes.length == 0) {
            popup.msg('请选择要分配的角色!');
            return;
        }

        var userRow = $("#dg").datagrid("getSelected");
        if (userRow == null) {
            popup.msg('请选择要分配角色的员工!');
            return;
        }


        var roleIds = [];
        for (var i = 0; i < checkedNodes.length; i++) {
            roleIds.push(checkedNodes[i].id);
        }

        $.post('${ctx!}/authUser/giveRole', {
            userId: userRow.id,
            roleIds: roleIds.join(";")
        }, function (result) {
            popup.msg(result);
        }, 'text').error(function(){ popup.errMsg(); });

    }

</script>

<div id="nestLayout" class="easyui-layout" fit="true">
    <div data-options="region:'east' " title="角色列表"
         split="true" collapsed="true" tools="#treeTB" headerCls="btNone"
         style="width: 300px;">
        <ul id="allRoleTree" class="easyui-tree"></ul>
    </div>
    <div data-options="region:'center' "  split="true" style="border-top: none">
        <table id="dg" class="easyui-datagrid  " url="${ctx!}/authUser/query"
               data-options="onDblClickRow:editModel"
               multiSort="false"
               toolbar="#tb" rownumbers="true" singleSelect="true" border="false"
               fit="true" pagination="true">
            <thead>
            <tr>
                <th sortable="true" field="username" width="100">登录名</th>
                <th  field="name" width="100">姓名</th>
                <th field="orgName" width="150">部门</th>
                <th field="phone" width="150">电话</th>
                <th field="email" width="150">邮箱</th>
                <th field="disabled" width="50" formatter="formatDisabled">状态</th>
                <th sortable="true" field="create_time" width="150">创建时间</th>
                <th sortable="true" field="last_edit_time" width="150">最后修改时间</th>
                <th sortable="true" field="last_login_time" width="150">最后登录时间</th>
                <th field="id" width="100" align="center" formatter="operateFmt">操作</th>
            </tr>
            </thead>
        </table>

        <div id="tb">
            <a onclick="newModel()" href="#" class="easyui-linkbutton" iconCls="e-icon iconfont icon-font-add" plain="true">新增</a>
            <a onclick="editModel()" href="#" class="easyui-linkbutton" iconCls="e-icon iconfont icon-font-edit" plain="true">编辑</a>
            <a onclick="deleteModel()" href="#" class="easyui-linkbutton  " iconCls="e-icon iconfont icon-font-delete" plain="true">删除</a>
            <span id="enterSpan" class="searchInputArea">
					<input id="username" prompt="登录名" class="easyui-textbox" style="width:120px">
                    <input id="name" prompt="姓名" class="easyui-textbox" style="width:120px">
                <!--   <input id="phone" prompt="电话" class="easyui-textbox" style="width:80px">
                   <input id="email" prompt="邮箱" class="easyui-textbox" style="width:80px">-->
                    <input id="orgName" prompt="部门" class="easyui-textbox" style="width:120px">
                    <span style="margin-left: 20px;">  状态：</span>
                    <select class="easyui-combobox" id="disabled" label="" style="width:80px;">
                             <option value="" selected>所有状态</option>
                             <option value="0">正常</option>
                             <option value="1">无效</option>
                    </select>
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'e-icon iconfont icon-font-search',plain:true" onclick="queryModel()">搜索</a>
            </span>
        </div>
        <div id="treeTB">
            <span   iconCls="e-icon iconfont icon-font-save" onclick="giveRoles()" title="赋予角色" style="margin-right: 20px; border-radius: 1px" ></span>
        </div>
    </div>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
<script>
    function formatDisabled(val, row) {
        if (val == 0) {
            val = '正常';
        } else {
            val = '<span style="color:red">无效</span>';
        }
        return val;
    };
    function operateFmt(val){
        return '<a class="pure-button" href="javascript:openPermissionPanel('+val+')">角色修改</a>'
    }

    /*打开角色侧栏*/
    function openPermissionPanel(userId){
        var url = "${ctx!}/authUser/roleListChecked?userId=" + userId;
        $.getJSON(url, function (data) {
            $("#allRoleTree").tree({
                data: data,
                checkbox: true
            });
            $("#nestLayout").layout("expand", "east");
        });
    }
</script>
</@layout>
