<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/css/list.css">
</head>
<body>
<script type="text/javascript">
    /*条件查询*/
    function queryModel() {
        var queryParams = {};
        queryParams['search_LIKE_ar.role_name'] = $("#rolename").textbox("getValue");
        $('#dg').datagrid('load', queryParams);
    }
</script>
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/authMenu/queryRoles?search_EQ_arm.menu_id=${menuId!}"
       toolbar="#tb" rownumbers="true" border="false"
       fit="true"    fitColumns="true"
       striped="true"   pageSize="40" pageList="[20,40]"
       pagination="true"
       ctrlSelect="true" >
    <thead>
    <tr>

        <th  width="100" data-options="field:'role_name'">角色名</th>
        <th  width="200" data-options="field:'role_desc'">角色描述</th>
        <th field="ope_name" width="100">关联操作人</th>
        <th field="user_id" width="100" formatter="deleteFmt">操作</th>
    </tr>
    </thead>
</table>
<div id="tb" style="text-align: center; padding: 5px">
    <span id="enterSpan"  >
      	 <input id="rolename" prompt="角色名" class="easyui-textbox" style="width:120px">
          <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-search',plain:true" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
<script>
    function deleteFmt(val,row){
        var menu_id = row.menu_id;
        var roleId = row.role_id;
        return '<a href="javascript:deleteRoleMenu(\''+menu_id+'\',\''+roleId+'\')"> 删除 </a>'
    };

    /* 删除 单行 */
    function deleteRoleMenu(menu_id,roleId) {
        $.get('${ctx!}/authMenu/deleteRoleMenu?menuId='+menu_id+"&roleId="+roleId , function (data) {
            popup.msg(data, function () {
                $('#dg').datagrid('reload');
            });
        }, "text").error(function(){ popup.errMsg(); });
    };
</script>
</@layout>
