.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('icons/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat center center;
}
.icon-no{
	background:url('icons/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat center center;
}
.icon-search{
	background:url('icons/search.png') no-repeat center center;
}
.icon-print{
	background:url('icons/print.png') no-repeat center center;
}
.icon-help{
	background:url('icons/help.png') no-repeat center center;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat center center;
}
.icon-back{
	background:url('icons/back.png') no-repeat center center;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('icons/filter.png') no-repeat center center;
}
.icon-man{
	background:url('icons/man.png') no-repeat center center;
}
.icon-lock{
	background:url('icons/lock.png') no-repeat center center;
}
.icon-more{
	background:url('icons/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat center center;
}

.icon-auth_manage{
	background:url('icons/cus-icons/auth_manage.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-orgm{
	background:url('icons/cus-icons/orgm.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-menu{
	background:url('icons/cus-icons/menu.png') no-repeat;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-role{
	background:url('icons/cus-icons/role.png') no-repeat;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-user{
	background:url('icons/cus-icons/user.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}


.icon-tool{
	background:url('icons/cus-icons/tool.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-druid{
	background:url('icons/cus-icons/druid.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-code{
	background:url('icons/cus-icons/code.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-log{
	background:url('icons/cus-icons/log.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}

.icon-base_data{
	background:url('icons/cus-icons/base_data.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-filee{
	background:url('icons/cus-icons/file.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-dict{
	background:url('icons/cus-icons/dict.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-data{
	background:url('icons/cus-icons/data.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}


.icon-play{
	background:url('icons/cus-icons/play.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-read{
	background:url('icons/cus-icons/read.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}


.icon-cuser{
	background:url('icons/cus-icons/cuser.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-pass{
	background:url('icons/cus-icons/pass.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-uinfo{
	background:url('icons/cus-icons/uinfo.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}



.icon-cms{
	background:url('icons/cus-icons/cms.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}
.icon-rich{
	background:url('icons/cus-icons/rich.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}

.icon-markdown{
	background:url('icons/cus-icons/markdown.png') no-repeat ;
	-webkit-background-size: 14px 14px;
	background-size: 14px 14px;
}

