<#include "/WEB-INF/views/common/common.html"/> <@layout>
<style>
    .f_black a{color:#000000; text-decoration:none;}
    .f_black a:link{color:#000000; text-decoration:none;}
    .f_black a:visited{color:#000000; text-decoration:none;}
    .f_black a:hover{color:#999999; text-decoration:underline;}
    .f_black a:actived{color:#000000; text-decoration:none;}
</style>
<script>
    function chapterDetail(link,title){
         link = encodeURIComponent(link);
         //alert(link);
         parent.layerTools.layerIframe('fa-newspaper-o', title, '${ctx!}/novel/chapterDetail?url=' + link, '400px', '75%');
    }
</script>
</head>
<body class="f_black">
<table id="dg" class="easyui-datagrid"
       url="${ctx!}/novel/chaptersQuery/${id!}"
       rownumbers="true"
       fitColumns="true"
       border="false"
       showHeader="false"
       fit="true"
       singleSelect="true"
       striped="true"  >
    <thead>
        <tr>
            <th field="title" width="100" formatter="titleFormat">章节名称</th>
        </tr>
    </thead>
</table>
<script>
    function titleFormat(val,row) {
        var rv = "<a   href=\"javascript:chapterDetail('"+row.link+"','"+val+"')\"   >"+val+"</a>";
        return rv;
    }
</script>
</@layout>
