<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<script src="${ctx!}/res/easyui1.5.4.5/extension/datagrid-detailview.js"></script>
<style>
    .detailTable{
        width:760px;
        margin:15px 0;
    }
    .detailTable td{
        border:0;
    }
    td.desc{
        padding-left: 5px;
    }
    .detailTable .cover{
        border:1px solid lightgrey;
        border-radius: 4px;
    }
    .datagrid-p{
        margin:0;
        text-indent: 24px;
    }
    .strong{
        font-weight:bold;
    }
</style>
</head>
<body>
<script type="text/javascript">
    function downloadModel() {
        var row = $("#dg").treegrid("getSelected");
        if (row != null) {
            $("#nid").val(row._id);
            $("#ntitle").val(row.title);
            layerTools.layerMsg("即将打开新tab下载小说，可能需要一点时间",function () {
                document.downloadForm.submit();
            });

        } else {
            layerTools.layerMsg('请先选择一行数据');
        }
    }

    // 查看章节列表
    function chapters(){
        var row = $("#dg").treegrid("getSelected");
        if (row != null) {
            layerTools.layerIframe('fa-reorder', row.title+" - "+row.author, '${ctx!}/novel/chapters/' + row._id, '400px', '70%')
        } else {
            layerTools.layerMsg('请先选择一行数据');
        }
    }

    //条件查询
    function queryModel() {
        var queryParams = {};
        queryParams['category'] = $("#category").combobox("getValue");
        queryParams['keyword'] = $("#fuzzyQuery").textbox("getValue");
        $('#dg').datagrid('load', queryParams);
    }
    function cateformat(val,row){
        if(row.majorCate == undefined || row.minorCate == undefined){
            return row.cat;
        }
        return row.majorCate+" * "+row.minorCate;
    }
    function rowOperate(rowData){
        rowData.cover = decodeURIComponent(rowData.cover).replace("/agent/","");
        rowData.shortIntro="<p class='datagrid-p'>"+rowData.shortIntro.replace("\n","<p class='datagrid-p'>");
    }

</script>
<form name="downloadForm" action="${ctx!}/novel/download" method="POST" target="_blank">
    <input type="hidden" name="nid" id="nid">
    <input type="hidden" name="title" id="ntitle">
</form>
<table id="dg"
       toolbar="#tb" rownumbers="true"
       fitColumns="true"
       nowrap="false"
       border="false"
       striped="true"
       fit="true" pagination="true" singleSelect="true"
       pageSize="40"  >
    <thead>
    <tr>
        <th field="title" width="50">书名</th>
        <th field="author" width="50">作者</th>
        <th field="minorCate" width="50" formatter="cateformat">分类</th>
        <th field="lastChapter" width="300">最新章</th>
    </tr>
    </thead>
</table>
<div id="tb">
    <a onclick="downloadModel()" href="#" class="easyui-linkbutton" iconCls="e-icon fa  fa-download" plain="true">下载</a>
    <a onclick="chapters()" href="#" class="easyui-linkbutton" iconCls="e-icon fa  fa-reorder" plain="true">章节</a>
    <span id="enterSpan"   class="searchInputArea" >
         <input id="category" prompt="类型" class="easyui-combobox" style="width:120px; "
                data-options="url:'${ctx!}/sysDict/queryDictData?type=category&fields=dict_key as text, dict_value as value'">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input id="fuzzyQuery" prompt="模糊查询" class="easyui-textbox" style="width:120px; ">
          <a href="#" class="easyui-linkbutton" iconCls="e-icon fa fa-search" plain="true" onclick="queryModel()">搜索</a>
    </span>
</div>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script>
    // enter监听查询
    $("#enterSpan").on("keydown",function(e){
        if(e.keyCode==13){
            queryModel();
        }
    })
    $('#dg').datagrid({
        url:'${ctx!}/novel/query',
        view: detailview,
        detailFormatter: function(rowIndex, rowData){
            rowOperate(rowData);
            return '<table class="detailTable"><tr>' +
                '<td rowspan=2><img class="cover" src="' + rowData.cover + '" style="height:134px;" alt="'+rowData.title+'"></td>' +
                '<td class="desc">' +
                '<p class="datagrid-p strong">'+rowData.title+'</p>'+
                 rowData.shortIntro +
                '</td>' +
                '</tr></table>';
        }
    });
</script>
</@layout>
