/* -------- 表单提交页样式------------- */

/* form 中 table 居中*/
form > table {
    margin: 0 auto;
}
/* 输入表单label 样式 */
.pure-table-horizontal tr>td:nth-child(odd){
    background-color:#f5f5f5;
}

#toolbars .iconfont {
    color: #229FF2;
    font-size: 16px;
    font-weight: 500;
}
