
/* -------- 表格列表页 样式 -------------- */

/* datagrid toolbar 中 输入框 位置*/
.searchInputArea {
    position: absolute;
    right: 20px;
}

/* 按钮 字体图标*/
#tt-tb .iconfont, #tb .iconfont {
    color: #229FF2;
    font-size: 16px;
    font-weight: 500;
}
