<#macro layout>
    <#compress>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
        <meta content=always name=referrer>
        <link rel="shortcut icon" href="${ctx!}/res/image/favicon.ico"/>
        <title>你好！${(session.system_user.name)!}</title>
        <link rel="stylesheet" type="text/css" href="${ctx!}/res/easyui153/themes/material/easyui.css">
        <link rel="stylesheet" type="text/css" href="${ctx!}/res/easyui153/themes/icon.css">
        <script type="text/javascript" src="${ctx!}/res/easyui153/jquery.min.js"></script>
        <script type="text/javascript" src="${ctx!}/res/easyui153/jquery.easyui.min.js"></script>
        <script src="${ctx!}/res/easyui153/locale/easyui-lang-zh_CN.js"></script>
        <link rel="stylesheet" href="${ctx!}/res/font-awesome/css/font-awesome.min.css">
        <!--自定义样式-->
        <link rel="stylesheet" href="${ctx!}/res/css/custom.css">
        <!--easyui 页面渲染遮罩-->
        <script src="${ctx!}/res/js/base-loading.js" type="text/javascript" charset="utf-8"></script>
        <#nested>
         </body>
    </html>
    </#compress>
</#macro>