<#macro layout>
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="edge"/>
        <link rel="shortcut icon" href="example/favicon.ico"/>
        <title>你好！${(session.system_user.name)!}</title>
        <link rel="stylesheet" type="text/css" href="${ctx!}/res/easyui153/themes/default/easyui.css">
        <link rel="stylesheet" type="text/css" href="${ctx!}/res/easyui153/themes/icon.css">
        <script type="text/javascript" src="${ctx!}/res/easyui153/jquery.min.js"></script>
        <script type="text/javascript" src="${ctx!}/res/easyui153/jquery.easyui.min.js"></script>
        <script src="${ctx!}/res/js/base-loading.js" type="text/javascript" charset="utf-8"></script>
        <#nested>
        </body>
    </html>
</#macro>