<#include "/WEB-INF/views/common/common.html"/> <@layout>
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/css/list.css">
<link rel="stylesheet" href="${ctx!}/res/codemirror/codemirror.css">
<link rel="stylesheet" href="${ctx!}/res/codemirror/material.css">
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
<script src="${ctx!}/res/codemirror/codemirror.js"></script>
<script src="${ctx!}/res/codemirror/javascript.js"></script>
<script src="${ctx!}/res/easyui1.5.4.5/extension/datagrid-detailview.js"></script>
<style>
    #generateBtn {
        position: absolute;
        z-index: 9999;
        right: 10px;
        top: 10px;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
</style>
</head>
<body>
<script type="text/javascript">
    var myCodeMirror;
    function genCode() {
        var jsonObj;
        try {
            jsonObj = JSON.parse(myCodeMirror.getValue())
        } catch (e) {
            popup.msg("json格式错误: " + e);
            return;
        }
        $.ajax({
            url: '${ctx!}/sysGenerator/generate',
            type: 'post',
            data: {
                jsonStr: myCodeMirror.getValue()
            },
            dataType: 'json',
            success: function (data) {
                if (data.state == 'ok') {
                    layer.alert("代码生成成功（文件路径可通过浏览器控制台查看）! ", {icon: 6});
                    console.log("-----generateTime:" + dateTool.dateformat(new Date(),"yyyy-MM-dd hh:mm:ss")+ "-----moduleName:"+jsonObj.moduleName+"-----");
                    for(var i=0;i<data.outputPaths.length;i++){
                        console.log(i+ " ========== "+data.outputPaths[i])
                    }
                    $("#generateBtn").attr("disabled", "disabled");
                } else {
                    popup.msg(data.msg);
                }
            },
            error: function (e) {
                popup.errMsg();
            }
        });
    }
    
    function jsonView() {
        var rows = $("#dg").treegrid("getSelections");
        if (rows.length != 0) {
            var obj = {};
            obj.moduleName = "请在此输入模块名 :)";
            obj.tables = rows;
            var formatJSONStr = JSON.stringify(obj, null, "\t");
            var content = '<div id="cm"  ></div>'
                + ' <button id="generateBtn"  onclick="genCode()"  class="pure-button pure-button-primary" >代码生成</button>';
            popup.openDOM('代码生成（可修改json控制生成的代码)', content,'450px', '600px');
            myCodeMirror = CodeMirror(document.getElementById('cm'), {
                value: formatJSONStr,
                lineNumbers: true,
                mode: {name: "javascript", json: true},
                scrollbarStyle: null,
                matchBrackets: true,
                theme: "material"
            });

        } else {
            popup.msg('请至少选择一行数据');
        }
    }

    function queryModel() {
        var tableName = $("#tableName").textbox("getValue");
        $('#dg').datagrid({
            loadFilter: function (data) {
                var dAry = [];
                for (var i = 0; i < data.length; i++) {
                    if (data[i].tableName.indexOf(tableName) >= 0) {
                        dAry.push(data[i]);
                    }
                }
                return dAry;
            }
        });
    }
</script>
<div id="nestLayout" class="easyui-layout" fit="true">
    <div data-options="region:'center' "  split="true" style="border-top: none">
        <table id="dg" class="easyui-datagrid  "
               toolbar="#tb" rownumbers="true" border="false" fitColumns="true"
               fit="true">
            <thead>
            <tr>
                <th data-options="field:'ck',checkbox:true"></th>
                <th field="tableName" width="50">表名</th>
                <th field="tableComment" width="100">表备注</th>
                <th field="tablePrimaryKeys" width="50">主键</th>
                <th field="tableNameCamel" width="100">表名驼峰</th>
                <th field="tableNameCamelFirstUp" width="100">表名驼峰首字大写</th>
            </tr>
            </thead>
        </table>
        <div id="tb">
            <a onclick="jsonView()" href="#" class="easyui-linkbutton" iconCls="iconfont icon-code" plain="true">代码生成</a>
            <span id="enterSpan" class="searchInputArea">
					<input id="tableName" prompt="表名" class="easyui-textbox" style="width:150px">
					<a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-search',plain:true" onclick="queryModel()">过滤</a>
            </span>
        </div>
    </div>
</div>
<script src="${ctx!}/res/js/util.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/popup-tools.js"></script>
<script type="text/javascript">
    $(function(){
        $('#dg').datagrid({
            url: "${ctx!}/sysGenerator/query?fullFlag=true",
            view: detailview,
            detailFormatter:function(index,row){
                return '<div style="padding:0px;position:relative;"><table style="border-top: none;border-right: none;  " class="ddv"></table></div>';
            },
            onExpandRow: function(index,row){
                var ddv = $(this).datagrid('getRowDetail',index).find('table.ddv');
                ddv.datagrid({
                    fitColumns:false,
                    singleSelect:true,
                    rownumbers:true,
                    loadMsg:'加载列信息ing...',
                    height:'auto',
                    data: row.columnList,
                    columns: [[
                        {field: 'columnName', title: '列名', width: 150},
                        {field: 'columnDBType', title: '列类型DB', width: 150},
                        {field: 'columnJavaType', title: '列类型Java', width: 150},
                        {field: 'columnComment', title: '列注释', width: 200}
                    ]],
                    onResize:function(){
                        $('#dg').datagrid('fixDetailRowHeight',index);
                    },
                    onLoadSuccess:function(){
                        setTimeout(function(){
                            $('#dg').datagrid('fixDetailRowHeight',index);
                        },0);
                    }
                });
                $('#dg').datagrid('fixDetailRowHeight',index);
            }
        });
    });
</script>
</@layout>
