<!-- 生成时间： 2018-09-17 19:18:07 -->
<#include "/WEB-INF/views/common/common.html"/><@layout>
<link rel="stylesheet" href="${ctx!}/res/css/form.css">
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<script src="${ctx!}/res/js/util.js"></script>
<script>
    function saveAction() {
        var url;

        /*有且只有一个主键*/
        var notification_type_idVal = $('#notification_type_id').val();

        if (isEmpty(notification_type_idVal)) {
            url = '${ctx!}/sysNotificationTypeUser/addAction';
        } else {
            url = '${ctx!}/sysNotificationTypeUser/updateAction';
        }

        $('#modelForm').form('submit', {
            url: url,
            onSubmit: function() {
                return $(this).form('validate');
            },
            success: function (data) {
                parent.popup.msg(data, function () {
                    /* parent.window.location.reload();*/
                    parent.$("#dg").datagrid("reload");
                    parent.layer.close(parent.layer.getFrameIndex(window.name));
                });
            }
        });
    }
</script>
</head>
<body style="padding: 10px 30px; ">
<form id="modelForm" method="POST">
    <table class=" pure-table pure-table-horizontal">
        <!--有且只有一个主键-->
        <input id="notification_type_id" name="notification_type_id"
               type="hidden" value="${(sysNotificationTypeUser.notification_type_id)!}">
        <tbody>
        </tbody>
    </table>
</form>
<div id="toolbars" style="text-align:center; margin-top: 20px;">
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-save'" onclick="saveAction()">确定</a>
    <a href="#" class="easyui-linkbutton" data-options="iconCls:'iconfont icon-cancel'"
       onclick="parent.layer.close(parent.layer.getFrameIndex(window.name));">取消</a>
</div>
</@layout>
