<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/pure/buttons-min.css">
<script>
    // 不被 iframe 嵌套
    if(top.location!=self.location){
        top.location = "${ctx!}/login";
    }
</script>
<style>

    .pure-button {
        padding: 5px 8px;
        margin: 5px 2px;
    }

    a.pure-button:hover {
        text-decoration: none;
    }

</style>
<script>
    function fullScreen() {
        var el = document.documentElement,
            rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullScreen,
            wscript;

        if (typeof rfs != "undefined" && rfs) {
            rfs.call(el);
            return;
        }

        if (typeof window.ActiveXObject != "undefined") {
            wscript = new ActiveXObject("WScript.Shell");
            if (wscript) {
                wscript.SendKeys("{F11}");
            }
        }
    }

    function exitFullScreen() {
        var el = document,
            cfs = el.cancelFullScreen || el.webkitCancelFullScreen || el.mozCancelFullScreen || el.exitFullScreen,
            wscript;

        if (typeof cfs != "undefined" && cfs) {
            cfs.call(el);
            return;
        }

        if (typeof window.ActiveXObject != "undefined") {
            wscript = new ActiveXObject("WScript.Shell");
            if (wscript != null) {
                wscript.SendKeys("{F11}");
            }
        }
    }

    // 全屏切换函数
    function fstFun(obj) {
        fullScreen();
        if ($(obj).hasClass('icon-fullScreen')) {
            $(obj).removeClass('icon-fullScreen')
                .addClass('icon-noFullScreen')
                .attr('iconCls', 'icon-noFullScreen')
                .attr('title', '退出全屏');
            //$("#mainLayout").layout("collapse", "north");
            //$("#mainLayout").layout("collapse", "west");

        } else {
            exitFullScreen();
            $(obj).removeClass('icon-noFullScreen')
                .addClass('icon-fullScreen')
                .attr('iconCls', 'icon-fullScreen')
                .attr('title', '全屏');
            //$("#mainLayout").layout("expand", "north");
            //$("#mainLayout").layout("expand", "west");
        }
    }
</script>
</head>
<body>
<div id="mainLayout" class="easyui-layout" fit="true" border="none">
    <div class="head" data-options="region:'north'" style="height: 50px"
         border="false">
        <span class="head-text">my_CURD</span>
        <span class="head-menu">
                你好，${(session.system_user.name)!} &nbsp;
                &nbsp;
                (${(session.system_user_roles)!} )
                &nbsp;
                &nbsp;
                <a class="pure-button pure-button-primary" href="${ctx!}/logout">
                    <i class="fa fa-sign-out"></i>&nbsp;&nbsp;退出
                </a>
			</span>
    </div>
    <div data-options="region:'west',split:false" title="功能导航" style="width:200px;" tools="#leftTB">
        <div class="input-control">
            <input type="text" id="filterInput" placeholder="输入关键字、Enter过滤">
        </div>
        <ul id="permissionTree">
        </ul>
    </div>
    <div id="leftTB">
        <a id="fstButton" href="#" iconCls="icon-fullScreen" onclick="fstFun(this)" title="全屏"></a>
    </div>
    <div data-options="region:'center'" border="false">
        <!-- pill="true" narrow="true" plain="true" tab 可选样式-->
        <div id="tabsControl" > </div>
        <div id="tabsMenu" class="easyui-menu">
            <div data-options="name:1">关闭</div>
            <div data-options="name:2">关闭其他</div>
            <div data-options="name:3">关闭所有</div>
            <div data-options="name:4">打开新页面</div>
        </div>
    </div>
</div>
<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/js/tab-tools.js"></script>
<script>
    ;(function () {

        var MainPage = {
            init: function () {
                var that = this;
                that.initData();
                that.bind();

            },
            initData: function () {
                var easyTree = new EasyTree();
                $.ajax({
                    url: "${ctx!}/main/permissionTree",
                    type: "GET",
                    dataType: "json",
                    success: function (data) {
                        //console.log(JSON.stringify(data));

                        var treeData = easyTree.treeDataBuild(data, "id", "pid", "text,iconCls,url");

                        //console.log("----easyui tree data----")
                        //console.log(JSON.stringify(treeData));

                        $('#permissionTree').tree({
                            data: treeData,
                            onSelect: function (node) {
                                // 只能打开 叶子node
                                if ($("#tree").tree("isLeaf", node.target)) {
                                    //alert("open:" + node.url);
                                    TabTools.control("${ctx!}"+node.url, "", node.text, node.iconCls);
                                }
                            }
                        });
                    },
                    error: function (x, m) {
                        console.log("权限数据请求错误: " + m);
                    }
                });
            },
            bind: function () {
                // 权限树过滤
                $("#filterInput").on("keydown", function () {
                    if (event.keyCode == "13") {
                        var inputVal = $(this).val();
                        console.log(inputVal);
                        $('#permissionTree').tree({
                            filter: function (q, node) {
                                return node.text.indexOf(inputVal) >= 0;
                            }
                        });
                        if (inputVal == null || inputVal == undefined || $.trim(inputVal) == "") {
                            $('#tt').tree('doFilter', '');
                        } else {
                            $('#permissionTree').tree('doFilter', inputVal);
                        }
                    }
                })
            }
        }

        MainPage.init();
    })();
</script>

</@layout>