<#include "/WEB-INF/views/common/common.html"/>
<@layout>
<link rel="stylesheet" href="${ctx!}/res/css/magic-check.css">
<link rel="stylesheet" href="${ctx!}/res/layer/theme/default/layer.css">
<link rel="stylesheet" href="${ctx!}/res/pure/tables-min.css">
<style>
    .tree-folder {
        background: url('${ctx!}/res/easyui1.5.4.5/themes/icons/cus-icons/org.png') no-repeat center center;
    }

    .tree-folder-open {
        background: url('${ctx!}/res/easyui1.5.4.5/themes/icons/cus-icons/org.png') no-repeat center center;
    }

    .tree-file {
        background: url('${ctx!}/res/easyui1.5.4.5/themes/icons/cus-icons/org2.png') no-repeat center center;
    }
</style>
<script>
    function queryModel() {
        var queryParams = {
            search_LIKE_org_name: $("#orgName").textbox("getValue")
        };
        //alert(JSON.stringify(queryParams));
        $('#tt').treegrid('load', queryParams);

        var qp = {};
        qp['search_LIKE_a.name'] = $("#name").textbox("getValue");
        $('#dg').datagrid('load', qp);
    }
</script>
</head>
<body>
<div id="nestLayout" class="easyui-layout" fit="true"   >
    <div data-options="region:'center' "
         split="true" border="false" collapsed="false">

        <div id="nestLayout2" class="easyui-layout" fit="true">
            <div data-options="region:'north' "
                 split="true" collapsed="false" style="height:60px;border-top: none;">
                <table class=" pure-table pure-table-horizontal" style="margin: 10px auto">
                    <tr>
                        <td><span style="font-weight: bold">机构地址：</span></td>
                        <td id="orgAddressTd"></td>
                        <td><span style="font-weight: bold">机构备注：</span></td>
                        <td id="orgRemarkTd"></td>
                    </tr>
                </table>
            </div>
            <div data-options="region:'center' "
                 split="true" border="false" collapsed="false">
                <table id="dg" class="easyui-datagrid  " url="${ctx!}/contacts/queryUser"
                       toolbar="#dgTB" rownumbers="true" singleSelect="true"
                       fit="true"
                       fitColumns="true"
                       pagination="true"
                       pageSize="50"
                       pageList="[50,100,150]">
                    <thead>
                    <tr>
                        <th field="name" align="center" width="50">姓名</th>
                        <th field="phone" align="center" width="100">电话</th>
                        <th field="email" align="center" width="100">邮箱</th>
                        <th field="disabled" align="center" width="50" formatter="formatDisabled">账号状态</th>
                    </tr>
                    </thead>
                </table>
                <div id="dgTB" style="padding:10px;">
                    <input id="cascadeSearch" class="magic-checkbox" type="checkbox" name="cascadeSearch" checked>
                    <label for="cascadeSearch">级联查询</label>
                </div>
            </div>
        </div>

    </div>

    <div data-options="region:'west' " split="true"  style="width:400px;border-top: none;">
        <table id="tt" border="false" ></table>
        <div id="tt-tb">
            <a href="#" class="easyui-linkbutton"   onclick="javascript:$('#tt').treegrid('expandAll')">展开</a>
            <a href="#" class="easyui-linkbutton"   onclick="javascript:$('#tt').treegrid('collapseAll');">关闭</a>
            <span id="enterSpan"  class="searchInputArea">
                  <input id="orgName" prompt="机构名" class="easyui-textbox" style="width:120px">

                  <input id="name" prompt="员工名" class="easyui-textbox" style="width:120px">
                  <a onclick="queryModel()" class="easyui-linkbutton"  data-options="iconCls:'e-icon fa fa-search',plain:true">搜索</a>
            </span>
        </div>
    </div>

</div>

<script src="${ctx!}/res/js/easyui-tree-tools.js"></script>
<script src="${ctx!}/res/layer/layer.js"></script>
<script src="${ctx!}/res/js/layer-tools.js"></script>
<script type="text/javascript" charset="utf-8">
    function formatDisabled(val, row) {
        if (val == 0) {
            val = '正常';
        } else {
            val = '<span style="color:red">' + 无效 + '</span>';
        }
        return val;
    };
    ;(function () {
        var easyTree = new EasyTree();
        $("#tt").treegrid({
            url: '${ctx!}/contacts/query',
            method: 'POST',
            idField: 'id',
            treeField: 'org_name',
            fit: true,
            rownumbers: false,
            toolbar: '#tt-tb',
            loadFilter: function (data) {
                data = easyTree.treeDataBuild(data, 'id', 'pid', 'org_name,org_address,org_remark,sort');
                return data;
            },
            columns: [[
                {field: 'org_name', title: '机构名', width: 200}
            ]],
            onSelect: function (row) {
                if (row.org_address == undefined) {
                    $('#orgAddressTd').text("");
                } else {
                    $('#orgAddressTd').text(row.org_address);
                }

                if (row.org_remark == undefined) {
                    $('#orgRemarkTd').text("");
                } else {
                    $('#orgRemarkTd').text(row.org_remark);
                }

                var queryParams = {};
                if ($('#cascadeSearch').prop('checked')) {
                    queryParams.orgId = row.id;
                } else {
                    queryParams.search_EQ_org_id = row.id;
                }
                $('#dg').datagrid('load', queryParams);
            }
        });

    })();
</script>
</@layout>